$primaryColor: #012b5b;
$secondaryColor: #cde2f1;
$thirdlyColor: #e98f18;

$colorWhite: #fff;
$primaryBorderColor: #aaa;

$colorGray: #757373;
$dangerColor: #D9534F;
$sucessColor:#5CB85C;

$placeholderText: rgba($primaryColor,0.5);

$borderColor: #bfbfbf;

$liteGray: #f5f5f5;
