@import "../abstract/variables";

.cims {
    .header {
        margin-top: 0;
        padding-top: 15px;
        padding-bottom: 25px;
        border-bottom: 1px solid $primaryColor;
        background-color: $colorWhite;
        position: relative;
        //z-index: 20;
    }

    .main-logo {
        margin-top: 3px;

        &__img {
            width: 125px;
            //transform: scale(-1,1) rotate(-30deg);
        }

        &__name {
            color: $primaryColor;
            font-size: 1.7rem;
            vertical-align: bottom;
            display: inline-block;
            line-height: 1;
            margin-right: 2rem;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .main-nav {
        display: flex;
        flex-wrap: wrap;
        margin-top: 0;

        @media (max-width: 768px) {
            display: block;
        }

        &__navigation {
            align-items: flex-end;
            margin-top: 0;
            flex-direction: column-reverse;
            justify-content: space-between;

            @media (max-width: 768px) {
                position: absolute;
                top: 100%;
                width: 100%;
                left: 0;
                background-color: $primaryColor;
            }
        }

        &__list {
            list-style-type: none;

            @media (max-width: 768px) {
                width: 100%;
            }
        }

        &__item {
            display: inline-block;
            margin-left: 1rem;

            @media (max-width: 768px) {
                display: block;
                padding: 0;

                & + & {
                    border-top: 1px solif $colorWhite;
                }
            }

            & + & {
                margin-top: 0;
            }

            .active {
                color: rgb(0, 164, 211);

                @media (max-width: 768px) {
                    display: none;
                }
            }
        }

        &__link {
            display: inline-block;
            color: $primaryColor;
            text-transform: uppercase;

            @media (max-width: 768px) {
                display: block;
                padding: 1rem 2rem;
                color: $colorWhite;
            }
        }
    }

    .main-nav__section {
        display: flex;
        align-items: flex-end;
        position: relative;

        &--left {
            margin-right: auto;
            font-size: 18px;
        }

        &--right {
            margin-left: auto;
            font-size: 14px;
        }
    }
}
