                                                                <div class="calendar__title">Start</div>
                                                                <div class="calendar__header">
                                                                    <button class="arrow">
                                                                        <i class="icon-long-arrow-left"></i>
                                                                    </button>
                                                                    <div class="calendar-select">
                                                                        <select class="year-select">
                                                                            <option value="2014 - 2022">2014 - 2022</option>
                                                                        </select>
                                                                    </div>
                                                                    <button class="arrow">
                                                                        <i class="icon-long-arrow-right"></i>
                                                                    </button>
                                                                </div>
                                                                <div class="calendar-table">                                                        
                                                                    <div class="calendar-table__row"> 
                                                                        <div class="calendar-table__col clickable">
                                                                            <div class="calendar-table__value-wrapper">  
                                                                                <div class="calendar-table__value">2014</div>  
                                                                            </div>     
                                                                        </div>
                                                                        <div class="calendar-table__col clickable">
                                                                            <div class="calendar-table__value-wrapper">    
                                                                                <div class="calendar-table__value">2015</div>  
                                                                            </div>     
                                                                        </div>
                                                                        <div class="calendar-table__col clickable">
                                                                            <div class="calendar-table__value-wrapper">    
                                                                                <div class="calendar-table__value">2016</div>  
                                                                            </div>     
                                                                        </div>
                                                                    </div>
                                                                    <div class="calendar-table__row"> 
                                                                        <div class="calendar-table__col clickable">
                                                                            <div class="calendar-table__value-wrapper">  
                                                                                <div class="calendar-table__value">2017</div>  
                                                                            </div>     
                                                                        </div>
                                                                        <div class="calendar-table__col clickable">
                                                                            <div class="calendar-table__value-wrapper">    
                                                                                <div class="calendar-table__value">2018</div>  
                                                                            </div>     
                                                                        </div>
                                                                        <div class="calendar-table__col clickable active">
                                                                            <div class="calendar-table__value-wrapper">    
                                                                                <div class="calendar-table__value">2019</div>  
                                                                            </div>     
                                                                        </div>
                                                                    </div>
                                                                    <div class="calendar-table__row"> 
                                                                        <div class="calendar-table__col clickable">
                                                                            <div class="calendar-table__value-wrapper">  
                                                                                <div class="calendar-table__value unavailable">2020</div>  
                                                                            </div>     
                                                                        </div>
                                                                        <div class="calendar-table__col clickable">
                                                                            <div class="calendar-table__value-wrapper">    
                                                                                <div class="calendar-table__value unavailable">2021</div>  
                                                                            </div>     
                                                                        </div>
                                                                        <div class="calendar-table__col clickable">
                                                                            <div class="calendar-table__value-wrapper">    
                                                                                <div class="calendar-table__value unavailable">2022</div>  
                                                                            </div>     
                                                                        </div>
                                                                    </div>

                                                                </div>