                                                                <div class="calendar__title">Start</div>
                                                                <div class="calendar__header">
                                                                    <button class="arrow">
                                                                        <i class="icon-long-arrow-left"></i>
                                                                    </button>
                                                                    <div class="calendar-select">
                                                                        <select class="year-select">
                                                                            <option value="2010">2010</option>
                                                                            <option value="2011">2011</option>
                                                                            <option value="2012">2012</option>
                                                                            <option value="2013">2013</option>
                                                                            <option value="2014">2014</option>
                                                                            <option value="2015">2015</option>
                                                                            <option value="2016">2016</option>
                                                                            <option value="2017">2017</option>
                                                                            <option value="2018">2018</option>
                                                                            <option value="2019">2019</option>
                                                                        </select>
                                                                    </div>
                                                                    <button class="arrow">
                                                                        <i class="icon-long-arrow-right"></i>
                                                                    </button>
                                                                </div>
                                                                <div class="calendar-table">                                                        
                                                                    <div class="calendar-table__row"> 
                                                                        <div class="calendar-table__col clickable active">
                                                                            <div class="calendar-table__value-wrapper">  
                                                                                <div class="calendar-table__value">Q1
                                                                                    <span class="months">Jan, Feb, Mar</span>
                                                                                </div>  
                                                                            </div>     
                                                                        </div>
                                                                        <div class="calendar-table__col clickable">
                                                                            <div class="calendar-table__value-wrapper">    
                                                                                <div class="calendar-table__value">Q2
                                                                                    <span class="months">Apr, May, Jun</span>
                                                                                </div>  
                                                                            </div>     
                                                                        </div>
                                                                    </div>
                                                                    <div class="calendar-table__row"> 
                                                                        <div class="calendar-table__col clickable">
                                                                            <div class="calendar-table__value-wrapper">  
                                                                                <div class="calendar-table__value">Q3
                                                                                    <span class="months">Jul, Aug, Sep</span>
                                                                                </div>  
                                                                            </div>     
                                                                        </div>
                                                                        <div class="calendar-table__col clickable">
                                                                            <div class="calendar-table__value-wrapper">    
                                                                                <div class="calendar-table__value">Q4
                                                                                    <span class="months">Oct, Nov, Dec</span>
                                                                                </div>  
                                                                            </div>     
                                                                        </div>
                                                                    </div>
                                                                </div>