{% set title = "Categories editor" %}

{% set admin = true %}
{% set pageIdSub = 0 %}
{% extends "layout.njk" %}

{% block content %}
            <div class="container-fluid">
                {% include "partials/categories-editor-portlet.njk" %}

            </div>

{% endblock content %}