{% set title = "Source editor" %}
{% set pageIdSub = 1 %}
{% set admin = true %}
{% extends "layout.njk" %}

{% block content %}
            <div class="container-fluid">
                {% include "partials/message-preferences-portlet.njk" %}

            </div>

{% endblock content %}