{% set title = "newsletter" %}
{% set pageIdSub = 8 %}
{% set admin = true %}
{% extends "layout.njk" %}

{% block styles %} <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">{% endblock styles %}

{% block scriptsHead %} 
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui@2.6.1/lib/index.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    

{% endblock scriptsHead %}

{% block content %}
            <div class="container-fluid" id="app">
                {% include "partials/newsletter-portlet.njk" %}

            </div>

{% endblock content %}

{% block scripts %} 
    <script type="text/babel">
         
    var Main = {
      data() {
        return {
          options: [{
            value: 'Option1',
            label: 'Option1'
          }, {
            value: 'Option2',
            label: 'Option2'
          }, {
            value: 'Option3',
            label: 'Option3'
          }, {
            value: 'Option4',
            label: 'Option4'
          }, {
            value: 'Option5',
            label: 'Option5'
          }],
          value1: [],
          value2: []
        }
      },
      methods: {
        editElement: function(el) {
          this.currentCat = this.tableData[el.$index].name
          this.dlgEdit = true;
        },
        saveNewCat: function() {
          if(this.newFeedCat !== '') {
            this.tableData.push({name: this.newFeedCat})
          }
          this.newFeedCat = '';
        }
      }
    }
var Ctor = Vue.extend(Main)
new Ctor().$mount('#app') 
        
    </script>
{% endblock %}




