{% set title = "Organization selection" %}
{% set pageId = 0 %}
{% extends "layout.njk" %}

{% block content %}
            <div class="container">
                {% include "partials/organization-selection-portlet.njk" %}

            </div>

{% endblock content %}

