{% set title = "Organization selection" %}
{% set pageId = 0 %}
{% extends "layout.njk" %}

{% block content %}
            <div class="container-fluid">
                {% include "partials/ressource-editor-portlet.njk" %}

            </div>

{% endblock content %}