{% set title = "Messages" %}
{% set pageId = 10 %}
{% extends "layout.njk" %}


{% block content %}

            <div class="container-fluid">
                <div class="spacing">
                    <div class="spacing__panel">
                        <div class="panel">panel</div>
                        <div class="panel">panel</div>
                        <div class="panel">panel</div>
                        <div class="panel">panel</div>
                        <div class="panel">panel</div>
                        <div class="panel">panel</div>
                        <div class="panel">panel</div>
                        <div class="panel">panel</div>
                        <div class="panel">panel</div>
                        <div class="panel">panel</div>
                        <div class="panel">panel</div>
                        <div class="panel">panel</div>
                        <div class="panel">panel</div>
                        <div class="panel">panel</div>
                        <div class="panel">panel</div>
                        <div class="panel">panel</div>
                        <div class="panel">panel</div>
                    </div>
                    <div class="spacing__messagess">
                        <div class="settings">
                            <div>Setting</div>
                            <div>Setting</div>
                            <div>Setting</div>
                            <div>Setting</div>
                            <div>Setting</div>
                            <div>Setting</div>
                        </div>
                        <div class="messagess-section">
                            <div class="message">afasFdf</div>
                            <div class="message">afasFdf</div>
                            <div class="message">afasFdf</div>
                            <div class="message">afasFdf</div>
                            <div class="message">afasFdf</div>
                            <div class="message">afasFdf</div>
                            <div class="message">afasFdf</div>
                            <div class="message">afasFdf</div>
                            <div class="message">afasFdf</div>
                            <div class="message">afasFdf</div>
                            <div class="message">afasFdf</div>
                            <div class="message">afasFdf</div>
                            <div class="message">afasFdf</div>
                            <div class="message">afasFdf</div>
                            <div class="message">afasFdf</div>
                            <div class="message">afasFdf</div>
                            <div class="message">afasFdf</div>
                            <div class="message">afasFdf</div>
                            <div class="message">afasFdf</div>
                            <div class="message">afasFdf</div>
                            <div class="message">afasFdf</div>
                            <div class="message">afasFdf</div>
                        </div>
                    </div>
                </div>
                <button class="addPanel">add panel</button>
            </div>

{% endblock %}
