@import "../abstract/variables";

.cims {
    .btn-link {
        &,
        &:link,
        &:hover,
        &:focus {
            color: $colorTextLink;
            box-shadow: none;
        }

        i {
            color: $thirdlyColor;
            text-decoration: none;
            display: inline-block;
        }

        &--primary {
            font-weight: bold;
        }
    }

    .btn-container {
        display: flex;
        padding: 10px 0;

        &--center {
            //justify-content: space-around;
            justify-content: center;

            & > * + * {
                margin-left: 60px;
            }
        }
    }
}

.cims-btn {
    padding: 2px 7px;
    min-width: 68px;
    border: 1px solid transparent;
    border-radius: 4px;
    background: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.25s;
    line-height: 1.6;

    &:focus {
        outline: none;
    }

    &--primary {
        color: $colorWhite;
        background-color: $primaryColor;
        border-color: $primaryColor;

        &:hover {
            background-color: lighten($primaryColor,10% );
            border-color: lighten($primaryColor,10% );
            color: $colorWhite;
        }

        &:active,
        &:focus {
            background-color: darken($primaryColor,2% );
            border-color: darken($primaryColor,2% );
            color: $colorWhite;
        } 
    }

    &--default {
        color: $primaryColor;
        border-color: $primaryColor;

        &:hover,
        &:focus {
            color: $primaryColor;
            border-color: $primaryColor;
            background-color: transparent;
        }

        &:active {
            color: $colorWhite;
            background-color: $primaryColor;
        }
    }

    &--danger {
        color: $colorWhite;
        background-color: $dangerColor;
        border: 1px solid $dangerColor;
    }

    &--success {
        color: $colorWhite;
        background-color: $sucessColor;
        border: 1px solid $sucessColor;
    }

    &--lg {
        min-width: 290px;
        padding: 6px 12px;
    }
}

.btn-group-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & > * + * {
        margin-top: 0.5rem;
    }
}

.add-btn {
    display: inline-block;
    font-size: 18px;
    padding: 1px 7px;
    cursor: pointer;
    position: relative;
    color: $primaryColor;
    transition: color 0.15s;
    transition-delay: 0.15s;

    &:hover {
        color: $thirdlyColor;
    }

    &::before, &::after {
        border: 0 solid transparent;
        box-sizing: border-box;
        content: '';
        pointer-events: none;
        position: absolute;
        width: 0;
        height: 0;
        bottom: 0;
        right: 0;
    }

    &::before {
        border-bottom-width: 1px;
        border-left-width: 1px;
    }

    &::after {
        border-top-width: 1px;
        border-right-width: 1px;
    }

    &:hover::before,
    &:hover::after {
        border-color: $thirdlyColor;
        transition: border-color 0s, width 0.15s, height 0.15s;
        width: 100%;
        height: 100%;
    }

    &:hover::before {
        transition-delay: 0s, 0s, 0.15s;
    }

    &:hover::after {
        transition-delay: 0s, 0.15s, 0s;
    }
}