@import "../abstract/variables";

.cims {
    .btn-link {
        &,
        &:link,
        &:hover,
        &:focus {
            color: $colorTextLink;
            box-shadow: none;
        }

        i {
            color: $thirdlyColor;
            text-decoration: none;
            display: inline-block;
        }

        &--primary {
            font-weight: bold;
        }
    }

    .btn-container {
        display: flex;
        padding: 10px 0;

        &--center {
            justify-content: space-around;
        }
    }
}

.cims-btn {
    padding: 2px 7px;
    min-width: 68px;
    border: 1px solid transparent;
    border-radius: 4px;
    background: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.25s;

    &:focus {
        outline: none;
    }

    &--primary {
        color: $colorWhite;
        background-color: $primaryColor;
        border-color: $primaryColor;

        &:hover {
            background-color: lighten($primaryColor,10% );
            border-color: lighten($primaryColor,10% );
        }

        &:active {
            background-color: darken($primaryColor,2% );
            border-color: darken($primaryColor,2% );
        } 
    }

    &--default {
        color: $primaryColor;
        border-color: $primaryColor;

        &:active {
            color: $colorWhite;
            background-color: $primaryColor;
        }
    }

    &--danger {
        color: $colorWhite;
        background-color: $dangerColor;
        border: 1px solid $dangerColor;
    }

    &--success {
        color: $colorWhite;
        background-color: $sucessColor;
        border: 1px solid $sucessColor;
    }
}

.btn-group-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    & > * + * {
        margin-top: 0.5rem;
    }
}