@import "../abstract/variables";

.custom-radio {
    background-color: $colorWhite;
    display: inline-block;
    position: relative;

    label {
        padding: 0.1rem 0.5rem;
        //font-size: 12px;
        width: 100%;
        display: block;
        text-align: left;
        color: $primaryColor;
        cursor: pointer;
        position: relative;
        z-index: 2;
        transition: color 200ms ease-in;
        overflow: hidden;
        border: 1px solid $primaryColor;
        font-weight: normal;
    }

    input:checked ~ label {
        color: #fff;
        background: $primaryColor;
    }

    input {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }

    & + & {
        label {
            border-left: none;
        }
    }
}

.radio-group {
    display: flex;
    position: relative;
    width: 100%;

    &--main {
        justify-content: center;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            background-color: rgba($colorGray,0.5);
        }
    }
}

.custom-control {
    position: relative;
}

.custom-control {
    label {
        font-size: 14px;
        line-height: 1.8;
    }
    
}

.custom-radio-circle {
    .custom-control-label {
        &::before {
            border-radius: 50%;
            background: none;
            border: 2px solid;
            border-color: $primaryBorderColor;
            margin-right: 2px;
        }

        &:after {
            position: absolute;
            top: 0.25rem;
            left: 0;
            display: block;
            width: 1rem;
            height: 1rem;
            content: "";
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 50% 50%;
        }
    }

    .custom-control-input:checked ~ .custom-control-label {
        &::before {
            border-radius: 50%;
            background: none;
            border: 2px solid;
            border-color: $primaryColor;
        }

        &::after {
            width: 6px;
            height: 6px;
            background: $primaryColor;
            border-radius: 50%;
            top: 9.3px;
            left: 5px;
        }
    }
}

.custom-control + .custom-control {
    //margin-left: 1rem;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: $primaryColor;
    border: none;
}

.custom-checkbox .custom-control-label::before {
    background: none;
    border: 1px solid $primaryBorderColor;
    margin-right: 5px;
}