@import "../abstract/variables";
@import "../abstract/mixin";

.filters-panel {
    display: flex;
    flex-direction: column;
    position: relative;
    //flex: 0;
    width: 0;
    z-index: 2;
    //transform: translateX(-350px);
    transition: all 0.4s;

    @media (max-width: 991px ) {
        
        position: static;
        z-index: 22;
        overflow-y: auto;
        
    }

    &__body {
        border: 1px solid $primaryBorderColor;
        opacity: 0;
        visibility: hidden;
        display: none;

        @media (max-width: 991px ) {
            //
            border: none;
        }
    }

    [class^="collapse-icon"] {
        font-size: 1rem;
    }
    

    &__btn {
        position: absolute;
        top: 5px;
        right: 10px;
        display: block;
        width: 100%;
        left: 0;
        font-size: 1rem;
        height: 23px;
        cursor: pointer;
        z-index: 2;
        background-color: rgba($secondaryColor, 0.25);
        //transform: translateX(350px);
        
        height: 100%;
        width: 80px;
        transition: background 200ms;

        @media (max-width: 991px ) {
            color: $primaryColor;
            background: transparent;
            height: 25px;
            z-index: 100;
            left: auto;
            right: 16px;
            top: 25px;
        }
        

        .collapse-icon-open {
            display: none;
            font-size: 1rem;
            @media (min-width: 992px ) {
                display: block;
            }
        }

        .collapse-icon-closed {
            display: none;
            font-size: 1rem;
        }

        .search-mobile {
            @media (min-width: 992px ) {
                display: none;
            }
        }

        span {
            position: absolute;
            right: 33px;
            right: 15px;
            top: 50%;
            transform: translateY(-50%);
            padding-left: 10px;
            @media (max-width: 991px ) {
                position: fixed;
                font-size: 1.4rem;
                top: 42px;

                &:first-child {
                    display: none;
                }
            }
        }
    }

    &.active {
        width: 450px;
        @media (max-width: 991px ) {
            position: fixed;
            width: 100%;
            top: 90px;
            z-index: 3;
            left: 0;
            bottom: 0;
            border: none;
            background: white; 
            overflow-x: hidden
        }

        &:after {
            content: '';
            display: block;
            clear: both;
            overflow: hidden;
        }

        .filters-panel__btn {
            height: 23px;
            width: 100%;
            background: transparent;
            z-index: 2;
            @media (max-width: 991px ) {
                top: 8px;
            }

            span {
                position: absolute;
                right: 33px;
                top: auto;
                transform: translateY(0);
                padding-left: 0;
                @media (max-width: 991px ) {
                    right: 16px;
                    top: -5px;
                }

                &:first-child {
                    opacity: 0;
                }
            }

            .collapse-icon-open {
                display: none;
            }

            .collapse-icon-closed {
                display: block
            }

            .search-mobile {
                display: none;
            }
        }

        .filters-panel__body {
            opacity: 1;
            visibility: visible;
            display: block;
        }        
    }
}

.filter-category {
    border-bottom: 1px solid $primaryBorderColor;
    padding-top: 5px;
    font-size: 12px;
    padding-right: 15px;
    padding-bottom: 10px;
    padding-left: 15px;
    position: relative;

    @media (min-width: 576px) and (max-width: 991px) {
        font-size: 16px;
    }

    &__head {
        display: block;
        position: relative;

        &,
        &:hover {
            color: $primaryColor;
            text-decoration: none;
        }
    }

    &__title {
        color: #000;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    &:first-child &__title {
        font-size: 16px;
    }

    &__body {
        padding-right: 1rem;
        padding-left: 1rem;

        @media (max-width: 992px) {
            padding: 0;
        }
    }

    &__item {
        margin-top: 0.5rem;

        .category {
            padding: 0 3rem;

            @media (max-width: 576px) {
                padding: 0 1rem;
            }

            &__item {
                color: $primaryColor;
            }
        }
    }

    &__label {
        text-align: right;
        padding-top: 0.3rem;
        padding-right: 0.5rem;
        align-items: center;
        display: block; 
        font-weight: normal;
    }
}

.filters-group {
    @include padding(10px, null, 10px, null);
}
