@import "../abstract/variables";

.form-control {
    min-height: auto;
    border-radius: 0;
    height: auto;
    padding: 5px;

    &:focus {
        box-shadow: none;
        border-color: $primaryColor;
    }
}



.form-group {
    margin-bottom: 0;
    align-items: center;

    & + & {
        margin-top: 1rem;
    }

    &--right {
        text-align: right;
    }
}

.select-container > select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    padding-right: 2rem;
    cursor: pointer;

    &:invalid {
        color: #C0C4CC;
    }

    option {
        color: $primaryColor;
    }
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #C0C4CC;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #C0C4CC;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #C0C4CC;
  }

.select-container {
    position: relative;
    background-color: $colorWhite;

    & > input {
        background-color: transparent;
        cursor: pointer;
        color: transparent;
        text-shadow: 0 0 0 #000;
    }

    &::before {
        content: "";
        position: absolute;
        right: 6px;
        top: 8px;
        border: 7px solid transparent;
        border-top: 10px solid $colorInputborder;
        // z-index: 1;
    }

    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        right: 25px;
        height: 25px;
        width: 1px;
        background-color: $colorInputborder;
        // z-index: -1;
    }

    &--icon-right {
        & > input {
            padding-right: 40px;
        }

        & > i {
            position: absolute;
            top: 5px;
            right: 22px;
            // z-index: -1;
        }

        &::after {
            right: 45px;
        }
    }
}

.collapse-icon {
    & .collapse-icon-closed,
    & .collapse-icon-open {
        top: 0;
        right: 0.9rem;
    }
}

select::-ms-expand {
    display: none;
}

input.disabled {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none;
    opacity: 0.5;
    color:#AAA;
    background:#F5F5F5;
}

.cims-input, .cims-select {
    padding: 0.2rem;
    height: 25px;
    width: 100%;
    border: 1px solid $colorInputborder;
    font-size: 12px;
    position: relative;
    background-color: $colorWhite;
}

.custom-control .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none;
}

.test {
    position: relative;
    width: auto;
    display: inline-block;
    vertical-align: top;
    &::before {
        width: 1rem;
        position: absolute;
        top: 0.25rem;
        left: 0;
        display: block;
        width: 1rem;
        height: 1rem;
        pointer-events: none;
        content: "";
        user-select: none;
        background-color: #dee2e6;
        background: none;
        border: 1px solid #aaa;
        margin-right: 5px;
        display: block;
        float: left;
        position: relative;
        border-radius: 0.25rem;
    }

    &::after {
        position: absolute;
        top: 0.25rem;
        left: 0;
        display: block;
        width: 1rem;
        height: 1rem;
        content: "";
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
        background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
    }
}

input[type="checkbox"]:checked ~ .test {
    width: 5rem;
}

.input-small {
    width: 180px;
    display: inline-block;
}

.inline-form {
    margin: 15px 0;

    .cims-btn {
        margin-left: 10px;
    }

    &__item {
        margin-right: 15px;
    }
}

.form-control {
    font-size: 14px;
}