@import "../abstract/variables";

.jstree {
    max-height: 170px;
    overflow-y: auto;
    font-size: 12px;

    & + * {
        margin-top: 0.5rem;
    }
}

.jsTree-lg {
    max-height: 300px;
}

.jsTree-full {
    max-height: none;
    overflow-y: visible;
    overflow-x: auto;
}

.jstree-default .jstree-themeicon {
    display: none;
}

.jstree-children > .jstree-node:last-child {
    background-color: transparent;
}

.jstree-anchor {
    position: relative;

    &::after {
        content: "\F02B";
        font-family: FontAwesome;
        display: inline-block;
        margin-left: 4px;
        color: rgba(#000,0.75);
        font-weight: bold;
    }
}

.jstree-rating::after {
    content: "\F005";
}

.jstree-default .jstree-clicked {
    background: transparent;
    border-radius: 0;
    box-shadow: none;
    color: $thirdlyColor;
    font-weight: bold;

    .link-icon {
        display: block;
    }
}

.category-popup {
    background-color:white;
    border: 2px solid #aaa;
    padding:5px 15px;
    position:fixed;
    top:15%;
    width:45%;
    left:30%;
    height: 70vh;
    z-index: 1100;
    
    @media (max-width: 992px) {
        left: 10%;
        width: 80%;
        top: 120px;
        height: calc(95vh - 120px);
    }
}

.dropdown-tree {
    width: 100%;
    max-width: none;
}

.category-popup .jstree {
    width:auto;
    max-height: 60vh;
}

.category-popup a:hover {
    text-decoration: none;
}
.category-popup a[title="Close"] {
    color: #aaa;
    float:right;
}

.category-popup a[title="expand all"],
.category-popup a[title="collapse all"] {
    margin-top:20px;
    display: inline-block;
    margin-bottom:10px;
    border: 2px solid #012b5b;
    border-radius: 3px;
    padding:2px 4px;
}