//@import "../abstract/variables";

.table-tree {
    .el-tree-node__content {
        height: auto;
    }

    &__wrapper {
        width: 100%;
        border: 1px solid $primaryBorderColor;
        border-radius: 4px;
        box-shadow: 0px 3px 8px #CCC;
        color: $primaryColor;
        position: relative;
        min-height: 46px;

         & + & {
            margin-top: 16px;
         }
    }

    &__link-container {
        display: flex;
        padding: 10px;

        .collapse-link {
            margin-left: auto;

            & + .collapse-link {
                margin-left: 2rem;
                margin-right: 20%;
            }
        }
    }

    &__container {
        position: relative;
        background-color: $colorWhite;
    }

    &__item {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        min-height: 46px;
        position: relative;
        padding: 9px 0;

        transition: background-color .25s ease;

        &:hover {
            background-color: rgba($secondaryColor, 0.5);
        }

        &.active {
            background-color: rgba($secondaryColor, 0.75);
            box-shadow: inset 0 1px 0 0 $primaryColor,
                        inset -1px 0 0 $primaryColor,
                        inset 0 -1px 0 0 $primaryColor,
                        inset 1px 0 0 $primaryColor;
        }

        .collapse-icon,
        .show-icon {
            display: none;
        }
    }

    &__item.have-children {
        .table-tree__condition {
            display: block;
        }

        & > .table-tree__condition .show-icon {
            display: none;
        }

        & > .table-tree__condition .collapse-icon {
            display: block;
        }


        &.tree-collapse {
            & > .table-tree__condition .show-icon {
                display: block;
            }
    
            & > .table-tree__condition .collapse-icon {
                display: none;
            }
        }

    }

    &__children {
        margin-left: 1.4rem;
    }

    &__children > &__container:nth-child(1) {
        background-position: left calc(50% + 5px);
    }

    &__children > &__container > &__item::before {
        content: '';
        background-image: url(../images/line2.png);
        background-repeat: no-repeat;
        background-position: left 50%;
        background-size: 8px 1px;
        width: 8px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
    }

    &__children > &__container {
        background-image: url(../images/line1.png);
        background-repeat: repeat-y;
        background-position: left;
    }

    &__children > &__container:last-child {
        background: transparent;
    }

    &__children > &__container:last-child > &__item {

        &::before {
            background-image: url(../images/line4.png);
            background-size: 8px 30px;
            background-position: left -5px;
            background-repeat: no-repeat;
        }
    }

    &__condition {
        margin-left: 8px;
        border-radius: 50%;
        border: 1px solid;
        width: 28px;
        height: 28px;
        position: relative;
        background-color: $colorWhite;
        display: none;
        cursor: pointer;

        span {
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 26px;
            transform: translate(-50%,-50%)
        }
    }

    &__name {
        margin-left: 10px;
        margin-right: auto;
    }

    &__category {
        display: flex;
        margin: auto;
        font-size: 14px;
        align-items: center;

        & > span {
            display: inline-block;
            margin-right: 8px;
        }
    }

    &__controls {
        margin-left: 30px;
        margin-right: 200px;

        button + button {
            margin-left: 45px;
        }

        @media (max-width: 1366px) {
            margin-right: 30px
        }
    }

    &__btn {
        background: none;
        border: none;
        cursor: pointer;
        color: rgba($primaryColor, 0.5);

        &:hover {
            color: $primaryColor;
        }

        &:active,
        &:focus {
            outline: none;
        }

        span {
            margin-right: 3px;
        }

        
        &:nth-child(1) {
            span {
                display: inline-block;
                width: 22px;
                height: 22px;
                line-height: 22px;
                color: $colorWhite;
                background: $primaryColor;
                border-radius: 50%;
            }
        }

        &:nth-child(2) {
            span {
                color: $primaryColor;
            }
        }

        &:nth-child(3) {
            span {
                color: $thirdlyColor;
            }
        }
    }

    .el-tree-node__expand-icon {
        margin-left: 8px;
        color: $primaryColor;
        font-family: Helvetica, Arial, "Helvetica Neue", sans-serif;

        &.expanded {
            transform: rotate(0);
        }

        &::before {
            position: absolute;
            top: 50%;
            left: 50%;
            font-size: 26px;
            line-height: 26px;
            display: block;
            transform: translate(-50%, -50%);
            font-weight: bold;
        }

        &::before {
            content: '+'
        }

        &.expanded::before {
            content: "-";
            top: 40%;
        }


        &.is-leaf {
            display: none;
        }
    }

    .el-tree-node__content > .el-tree-node__expand-icon {
        padding: 6px;
        border-radius: 50%;
        border: 1px solid;
        width: 28px;
        min-width: 28px;
        height: 28px;
        position: relative;
        background-color: white;
        cursor: pointer;
    }

    .el-tree-node__content:hover {
        background-color: transparent;
    }

    .el-tree-node {
        &__children > .el-tree-node > .el-tree-node__content {
            position: relative;
            padding-left: 0 !important;
        }

        &__children > .el-tree-node:last-child > .el-tree-node__content {
            background: transparent;
        }

        &__children > .el-tree-node {
            position: relative;
            background-image: url(../images/line1.png);
            background-repeat: repeat-y;
            z-index: 1;

            &:last-child {
                background: transparent;
            }
        }

        &__children > .el-tree-node > .el-tree-node__content::before {
            content: '';
            background-image: url(../images/line2.png);
            background-repeat: no-repeat;
            background-position: left 50%;
            background-size: 8px 1px;
            width: 8px;
            height: 100%;
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
        }

        &__children > .el-tree-node:last-child > .el-tree-node__content::before {
            background-image: url(../images/line4.png);
            background-size: 8px 30px;
            background-position: left -5px;
            background-repeat: no-repeat;
        }

        & > .el-tree-node__children {
            margin-left: 1.4rem;
        }

        &:focus > .el-tree-node__content {
            background: transparent;
        }
    }

    .el-radio-group > div {
        display: inline-block;

        & + div {
            margin-left: 15px;
        }
    }

    .el-radio__label,
    .el-checkbox__label {
        padding-left: 5px;
    }

    .el-radio-group + div {
        margin-left: 15px;
    }

    .el-radio {
        margin-right: 15px;

        &:last-child {
            margin-right: 0;
        }
    }

    .el-radio-group + div {
        margin-left: 15px;
    }
}

.el-tree__wrapper {
    width: 100%;
    display: block;
}

.el-tree-node.is-expanded > .el-tree-node__children {
    overflow: visible;
}