@import "../abstract/variables";

.cims {
    .toggle-switch + span {
        color: $primaryColor;
        vertical-align: text-bottom;
        font-size: 12px;
    }

    .toggle-switch-bar .toggle-switch-handle {
        min-width: auto;
    }

    .toggle-switch-check {
        &:empty ~ .toggle-switch-bar {
            //width: 25px;
            height: 14px;
            line-height: 14px;

            &::before {
                border-color: $primaryColor;
                border-width: 1px;
                background-color: $colorWhite;
                border-radius: 20px;
                width: 25px;
            }

            &::after {
                border-color: $primaryColor;
                border-radius: 50%;
                border-width: 1px;
                width: 14px;
                height: 14px;
                left: 0;
                top: 0;
                bottom: 0;
            }

            .toggle-switch-handle::after {
                margin-left: 30px;
                font-size: 12px;
                color: $primaryColor;
                text-transform: none;
                font-weight: normal;
            }
        }

        &:checked ~ .toggle-switch-bar {
            &::before {
                border-color: $primaryColor;
                border-width: 2px;
                background-color: $primaryColor;
                border-radius: 20px;
            }

            &::after {
                border-color: $primaryColor;
                border-radius: 50%;
                border-width: 1px;
                left: 11px;
            }
        }
    }
}
