.cims {
    .btn-link {
        &,
        &:link,
        &:hover,
        &:focus {
            color: $primaryColor;
            box-shadow: none;
        }

        i {
            color: $thirdlyColor;
            text-decoration: none;
            display: inline-block;
        }

        &--primary {
            font-weight: bold;
        }
    }

    .btn-container {
        display: flex;
        padding: 10px 0;

        &--center {
            justify-content: space-around;
        }
    }
}
