.cims {
    .btn {
        padding: 10px 30px;
        font-size: 14px;

        &:active,
        &:focus {
            box-shadow: none;
        }

        &--primary {
            &,
            &:focus,
            &:active {
                background-color: $primaryColor;
                color: $colorWhite;
            }
        }

        &--secondary {
            background-color: transparent;
            color: $primaryColor;
            border-color: $primaryColor;

            &:active {
                background-color: $primaryColor;
                color: $colorWhite;
            }
        }
    }
}

.btn-link {
    &,
    &:link,
    &:hover,
    &:focus {
        color: $primaryColor;
        //text-decoration: none;
        box-shadow: none;
    }

    i {
        color: $thirdlyColor;
    }

    &--primary {
        font-weight: bold;
    }
}

.btn-container {
    display: flex;
    padding: 20px 0;

    &--center {
         justify-content: space-around;
    }
}
