@import "../abstract/variables";

.custom-checkbox {
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    font-size: 12px;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;

        &:checked {
            & ~ .mark-icon::before {
                content: '\F14A';
            }

            & ~ .thumbtack {
                color: $primaryColor;
            }
        }
    }

    .mark-icon {
        position: relative;
        display: inline-block;
        margin-left: 15px;

        &:before {
            content: '\F096';
            display: inline-block;
            font-family: FontAwesome;
            position: absolute;
            top: -2.7px;
            left: -15px;
            width: 15px;
            height: 15px;
            padding-right: 4px;
            font-size: 1rem;
            color: $thirdlyColor;
        }
    }

}

.thumbtack {
    padding: 3px 5px;
    display: inline-block;
    color: $thirdlyColor;
}