@import "../abstract/variables";
@import "../abstract/mixin";
.cims {
    .datepicker {
        display: none;
        position: absolute;
        background: #fff;
        font-size: 12px;
        box-shadow: 0 2px 15px rgba(0,0,0,0.3);
        border-radius: 4px;
        padding: 4px;
        font-family: sans-serif;
        width: auto;
        max-width: none;

        &.show {
            display: flex;
        }
    }

    .controls {
        @include margin(4px, 4px, 4px, 4px);
    }

    .period {
        display: flex;
        list-style-type: none;

        &__item {
            @include padding(5px, 9.6px, 5px, 9.6px);

            background: $liteGray;
            color: $primaryColor;
            transition: all 0.1s;
            cursor: pointer;

            &:hover,
            &--active {
                background-color: $primaryColor;
                color: $colorWhite;
            }

            &:first-child {
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
            }

            &:last-child {
                border-top-right-radius: 5px;
                border-bottom-right-radius: 5px;
            }
        }
    }

    .range {
        display: flex;
        flex-direction: column;
        margin-top: 10px;

        &__item {
            @include padding(4px, 9px, 4px, 9px);

            margin: 0;
            background: $liteGray;
            color: $primaryColor;
            cursor: pointer;
            border-radius: 4px;
            margin-bottom: 8px;
            text-align: left;
            transition: all 0.15s;

            &:hover,
            &--active {
                background-color: $primaryColor;
                color: $colorWhite;
            }
        }
    }

    .custom-range {
        @include margin(null, -3px, null, -3px);
        display: flex;

        &__input {
            @include margin(null, 3px, null, 3px);

            flex: 1;
            border-radius: 4px;
            border: 1px solid $borderColor;
            padding: .5em;
            font-size: 13px;
            color: #333;
        }

        button {
            @include margin(null, 3px, null, 3px);
            @include padding(4px, 9px, 4px, 9px);
            padding: 4px 9px;
            border-radius: 4px;
            background: $liteGray;
            color: $primaryColor;
            border: none;
            outline: none;
            cursor: pointer;

            &:hover {
                background: darken($liteGray, 10%)
            }
        }
        
        .apply-btn {
            background-color: $thirdlyColor;
            color: $colorWhite;

            &:hover {
                background: darken($thirdlyColor, 10%)
            }
        }

        & + .custom-range {
            margin-top: 8px
        }
    }

    .calendar {
        display: none;
        @include margin(4px, 4px, 4px, 4px);

        &.active {
            display: block;
        }

        &-months .calendar-table__col,
        &-years .calendar-table__col {
            font-size: 16px;
        }

        &-quarters .calendar-table__col {
            font-size: 32px;
        }

        &__title {
            @include padding(4px, 9px, 4px, 9px);
            @include margin(null, auto, null, auto);

            text-align: center;
            display: block;
        }

        &__header {
            @include margin(8px, auto, null, auto);
            display: flex;
            min-width: 190px;
        }

        &-select {
            flex: 5;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2px;

            select {
                @include padding(2px, 2px, 2px, 4px);
                @include margin(null, 2px, null, 2px);

                width: 100%;
                max-width: 75%;
                height: auto;
                font-size: 12px;
                line-height: 1.5em;
                text-align: center;
            }
        }

        .arrow {
            flex: 1;
            text-align: center;
            padding: 4px 0;
            margin: 0;
            padding: 4px 0;
            width: 100%;
            border-radius: 4px;
            background: 0 0;
            border: none;
            cursor: pointer;
            outline: none;

            &:hover,
            {
                background-color: rgba($colorGray, 0.2);
            }
        }

        &-table {
            height: 235px;
            overflow: hidden;
            margin-top: 5px;
            padding: 5px;
            display: flex;
            align-content: stretch;
            justify-content: space-around;
            flex-direction: column;
            border: 1px solid $liteGray;

            &__row {
                display: flex;
                align-content: stretch;
                justify-content: space-around;
                flex: 1;

                &.week {
                    font-weight: bold;
                }
            }

            &__col {
                display: flex;
                flex: 1;
                text-align: center;
                line-height: 1;
                cursor: default;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                background-color: $colorWhite;

                &.clickable {
                    cursor: pointer;

                    &:hover {
                        .calendar-table__value-wrapper {
                            background: $liteGray;
                            border-radius: 4px;
                        }
                    }

                    &.active {
                        .calendar-table__value-wrapper {
                            background: $primaryColor;
                            color: $colorWhite;
                        }
                    }
                }
            }

            &__value-wrapper {
                display: flex;
                flex: 1;
                align-items: center;
                border-radius: 4px;
            }

            &__value {
                flex: 1;

                &.unavailable {
                    color: #bbb;
                }
            }
        }

        .months {
            display: block;
            font-size: 12px;
            margin-top: 5px;
            opacity: 0.8;
        }
    }
}