@import "../abstract/variables";
@import "../abstract/mixin";

.datepicker {
    display: none;
    position: absolute;
    background: #fff;
    font-size: 12px;
    box-shadow: 0 2px 15px rgba(0,0,0,0.3);
    border-radius: 4px;
    padding: 4px;
    font-family: sans-serif;
    width: auto;
    max-width: none;

    &.show {
        display: flex;
    }
}

.controls {
    @include margin(4px, 4px, 4px, 4px);
}

.period {
    display: flex;
    list-style-type: none;

    &__item {
        padding: 5px 9.6px;
        background: #f5f5f5;
        color: $primaryColor;
        transition: all 0.1s;
        cursor: pointer;

        &:hover,
        &--active {
            background-color: $primaryColor;
            color: $colorWhite;
        }

        &:first-child {
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
        }

        &:last-child {
            border-top-right-radius: 5px;
            border-bottom-right-radius: 5px;
        }
    }
}

.range {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

    &__item {
        padding: 4px 9px;
        margin: 0;
        background: #f5f5f5;
        color: $primaryColor;
        cursor: pointer;
        border-radius: 4px;
        margin-bottom: 8px;
        text-align: left;
        transition: all 0.15s;

        &:hover,
        &--active {
            background-color: $primaryColor;
            color: $colorWhite;
        }
    }
}

.calendar {
    @include margin(4px, 4px, 4px, 4px);

    &__title {
        @include padding(4px, 9px, 4px, 9px);
        @include margin(null, auto, null, auto);

        text-align: center;
        display: block;
    }

    &__header {
        @include margin(8px, auto, null, auto);
        display: flex;
        min-width: 190px;
    }

    &-select {
        flex: 5;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2px;

        select {
            @include padding(2px, 2px, 2px, 4px);
            @include margin(null, 2px, null, 2px);

            width: 100%;
            height: auto;
            font-size: 12px;
            line-height: 1.5em;
            text-align: center;
            //border-radius: 6px;
        }
    }

    .arrow {
        flex: 1;
        text-align: center;
        padding: 4px 0;
        margin: 0;
        padding: 4px 0;
        width: 100%;
        border-radius: 4px;
        background: 0 0;
        border: none;
        cursor: pointer;
        outline: none;

        &:hover,
        {
            background-color: rgba($colorGray, 0.2);
        }
    }

    &-table {
        height: 180px;
        overflow: hidden;
        padding: 5px;
        display: flex;
        align-content: stretch;
        justify-content: space-around;
        flex-direction: column;
        border: 1px solid #f5f5f5;

        &__row {
            display: -ms-flexbox;
            display: flex;
            align-content: stretch;
            justify-content: space-around;
            flex: 1;

            &.week {
                font-weight: bold;
            }
        }

        &__col {
            display: flex;
            flex: 1;
            text-align: center;
            line-height: 1;
            cursor: default;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-color: white;

            &.clickable {
                cursor: pointer;

                &:hover {
                    .calendar-table__value-wrapper {
                        background: #f5f5f5;
                        border-radius: 4px;
                    }
                }

                &.active {
                    .calendar-table__value-wrapper {
                        background: $primaryColor;
                        color: $colorWhite;
                    }
                }
            }

            
        }

        &__value-wrapper {
            display: flex;
            flex: 1;
            align-items: center;
            border-radius: 4px;
        }

        &__value {
            flex: 1;

            &.unavailable {
                color: #bbb;
            }
        }
    }
}