.cims {
    .form-control {
        min-height: auto;
        border-radius: 0;
        height: auto;
        padding: 5px;

        &:focus {
            box-shadow: none;
            border-color: $primaryColor;
        }
    }
}

i {
    // color: $thirdlyColor;
}

.search + i {
    position: absolute;
    right: 24px;
    top: 10px;
}

.input-icon {
    i {
        cursor: default;
        position: absolute;
        line-height: 1;
        text-align: center;
        opacity: 0.5;
        -webkit-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease;
        top: 11px;
        right: 20px;
        font-size: 15px;
    }
}

.left-icon {

    i {
        position: absolute;
        top: 10px;
    }
}

.form-group {
    margin-bottom: 0;

    & + & {
        margin-top: 1rem;
    }

    &--right {
        text-align: right;
    }
}

.custom-control .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none;
}

input[type="text"],
select {
    padding: 0.2rem;
    height: 32px;
    width: 100%;
}

.collapse-icon {
    & .collapse-icon-closed,
    & .collapse-icon-open {
        top: 0;
        right: 0.9rem;
    }
}
