@import "../abstract/variables";

.cims {
    .form-control {
        min-height: auto;
        border-radius: 0;
        height: auto;
        padding: 5px;

        &:focus {
            box-shadow: none;
            border-color: $primaryColor;
        }
    }

    .form-group {
        margin-bottom: 0;

        & + & {
            margin-top: 1rem;
        }

        &--right {
            text-align: right;
        }
    }

    [type="text"]:not(.el-input__inner),
    select {
        padding: 0.2rem;
        height: 25px;
        width: 100%;
        border: 1px solid $primaryColor;
        font-size: 12px;
    }

    .inline[type="text"] {
        //width: auto;
    }

    .select-container > select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background-color: transparent;
        padding-right: 2rem;
        color: $primaryColor;
        cursor: pointer;
    }

    .select-container {
        position: relative;

        & > input {
            background-color: transparent;
            cursor: pointer;
            color: transparent;
            text-shadow: 0 0 0 #000;
        }

        &::before {
            content: "";
            position: absolute;
            right: 6px;
            top: 8px;
            border: 7px solid transparent;
            border-top: 10px solid $primaryColor;
            z-index: -1;
        }

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 25px;
            height: 25px;
            width: 1px;
            background-color: $primaryColor;
            z-index: -1;
        }

        &--icon-right {
            & > input {
                padding-right: 40px;
            }

            & > i {
                position: absolute;
                top: 5px;
                right: 22px;
                z-index: -1;
            }

            &::after {
                right: 45px;
            }
        }
    }

    .collapse-icon {
        & .collapse-icon-closed,
        & .collapse-icon-open {
            top: 0;
            right: 0.9rem;
        }
    }

    select::-ms-expand {
        display: none;
    }

    input.disabled {
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        pointer-events: none;
        opacity: 0.5;
        color:#AAA;
        background:#F5F5F5;
    }
}

.custom-control .custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none;
}
