.jstree {
    max-height: 170px;
    overflow-y: auto;
    font-size: 12px;
}

.modal-dialog {
    width: 60%;
}

.modal-content {
    height: 500px;
}

.modal .jstree {
    max-height: none;
}

.jsTree-wrapper {
    overflow: hidden;
    height: 100%;

    &__left {
        float: left;
        overflow-y: auto;
        height: 100%;
        width: 60%;
    }

    &__right {
        float: right;
        width: 40%;
    }
}

.jstree-default .jstree-themeicon {
    display: none;
}

.jstree-children > .jstree-node:last-child {
    background-color: transparent;
}

.jstree-rating::after {
    content: "R";
    display: inline-block;
    margin-left: 4px;
    color: rgba($colorGray,0.75);
    font-weight: bold;
}
