        <header class="header">
            <div class="center1080">
                <a href="https://www.consline.com" id="logo"></a>
                <div class="mlp-language-box mlp_language_box">
                    <select id="tinynav1" class="tinynav tinynav1">
                        <option>Language</option>
                        <option value="https://www.consline.com/?noredirect=en_US">English</option>
                        <option value="https://www.consline.com/de/?noredirect=de_DE">Deutsch</option>
                        <option value="https://www.consline.com/es/?noredirect=es_ES">Español</option>
                        <option value="https://www.consline.com/pt/?noredirect=pt_PT">Português</option>
                        <option value="https://www.consline.com/zh/?noredirect=zh_CN">中文</option>
                        <option value="">Русский</option>
                    </select>
                </div>
                
            </div>
            <div class="before-navigation"></div>
            
            <div class="wrap-navigation">
                
                    <div class="center1080">
                        
                        <div class="main-nav navbar-expand-md navbar-dark">
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                            </button>
                            <nav id="navbarSupportedContent" role="navigation" class="mainmenu the-navigation collapse navbar-collapse main-nav__navigation">
                                <ul id="mainnav" class="menu ">
                                    <li class="menu-item current-menu-item"><a href="https://www.consline.com/">Home</a></li>
                                    <li class="menu-item"><a href="https://www.consline.com/services/">Services</a></li>
                                    <li class="menu-item"><a href="https://www.consline.com/cims/">CIMS</a></li>
                                    <li class="menu-item"><a href="https://www.consline.com/news/">News</a></li>
                                    <li class="menu-item"><a href="https://www.consline.com/references/">References</a></li>
                                    <li class="menu-item"><a href="https://www.consline.com/company-profile/">Consline AG</a></li>
                                    <li class="menu-item"><a href="https://www.consline.com/contact/">Contact</a></li>
                                    <li class="menu-item"><a href="https://cims.consline.com/login">CIMS Login</a></li>
                                </ul>							<!-- ###MAINNAV### -->
                            </nav>
                            <div style="clear:both;"></div>
                        </div>
                    </div>
                </div>

        </header>