.analytics {
    .el-tabs--card > .el-tabs__header .el-tabs__nav {
        margin-top: 17px;
    }

    &-dashbord {
        margin-top: 15px;

        .el-tabs__item {
            min-width: 65px;

            &.is-active {
                .analytics-dashbord__edit-name {
                    height: 18px;
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        &__edit-name {
            position: absolute;
            line-height: 1.4;
            bottom: 39px;
            border: 1px solid #E4E7ED;
            border-bottom: 0;
            background: #fff;
            width: 50px;
            right: -1px;
            height: 0;
            transition: all cubic-bezier(0.645, 0.045, 0.355, 1), 0.3s;
            text-align: center;
            border-radius: 4px 4px 0px 0px;
            opacity: 0;
            visibility: hidden;
        }

        &.el-tabs--top.el-tabs--card > .el-tabs__header .el-tabs__item:last-child {
            padding: 0;
            min-width: 40px;
        }
    }
}

.add-test {
    display: block;
    text-align: center;
    transition: 0.3s;

    &:hover {
        background-color: rgba($secondaryColor, 0.4);
    }
}

.btn-analytics {
    margin: 150px auto;
    border: 1px dashed #d9d9d9;
    color: #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    text-align: center;
    outline: none;
    width: 180px;
    height: 180px;
    transition: all 0.3s;

    &__title {
        line-height: 180px;
    }

    &:hover {
        border-color: $primaryColor;
        color: $primaryColor;
    }
}

.chart__header {
    display: flex;
    background: #d9d9d9;
}

.chart-list {
    list-style-type: none;
    display: flex;

    &--left {
        margin-right: auto;
    }

    &--right {
        margin-left: auto;
    }

    &__item {
        padding: 6px 8px;
        font-size: 22px;
        color: $primaryColor;
        cursor: pointer;
        line-height: 1;
        position: relative;
        //transition: all 0.25s;

        &:hover,
        &.active {
            background-color: $primaryColor;
            color: #d9d9d9;
        }
    }
}

.chart__body {
    min-height: 400px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    border-width: 0 1px 1px 1px;
    border-style: solid;
    border-color: #aaa;
}

.chart__graph {
    width: 100%;
    overflow: hidden;
    height: 100%;
}

.highcharts-container {
    width: 100% !important;
}

.select-container + .select-container {
    margin-top: 0.5rem;
}

.full-width {
    width: 100% !important;
}

.chart__panels--bottom {
    width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;

    &::before {
        content: '';
        flex-basis: 100%;
        width: 0;
    }
}

.charts__container {
    display: flex;
}

.chart__item {
    flex: 1;

    & + & {
        margin-left: 50px;
    }
}

.chart-container {
    overflow: hidden;
    width: 100%;
    transition: all 0.4s;
    /////@debug
    position: absolute;
    left: 0;
    height: 100%;

    &.active {
        width: calc(100% - 400px);
        left: 400px;
        //height: 100%;
    }

    &.panel2 {
        height: calc(100% - 170px);
    }
}

.test-div {
    height: 100%;
}

.analytics-select {
    display: inline-block;
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;

    .el-input--suffix .el-input__inner {
        padding: 0;
        line-height: 36px;
        height: 36px;
    }
}
