.messages-portlet {
    display: flex;
}

.messages {
    width: 100%;
    padding-left: 1rem;
    transition: all 0.4s;
}

.page-pagination + .select-container {
    margin-left: auto;
}

.tree-heading {
    &,
    &:link,
    &:hover {
        position: relative;
        display: inline-block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        border: 1px solid $primaryColor;
        border-radius: 0.25rem;
        text-decoration: none;
    }
}

.delete-category {
    &,
    &:link,
    &:hover {
        display: inline-block;
        text-decoration: none;
    }
}

.messages-settings {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;

    & + & {
        padding-top: 0.5rem;
    }

    &__pagination {
        margin-right: auto;
    }

    &__translation {
        align-self: flex-end;
        margin-right: 3rem;
    }
}

.messages-container {
    padding-right: 1rem;
    margin-top: 1rem;
    border-top: 1px solid $colorGray;
    max-height: 35rem;
    overflow-y: auto;
}

.message-item {
    margin-top: 2rem;

    &__head {
        display: flex;
    }

    &__main-content {
        flex: 1;
    }

    &__logo {
        flex: 0 0 120px;
        text-align: center;

        img {
            max-width: 90%;
            text-align: center;
            margin-top: 20px;
        }
    }

    &__heading {
        font-size: 16px;
        color: $primaryColor;
        text-transform: uppercase;
        margin-right: 5rem;
    }

    &__text {
        margin-top: 0.8rem;
        font-size: 12px;
    }

    &__rating {
        flex: 0 0 250px;

        .category {
            padding-bottom: 0.5rem;

            &__name {
                color: $colorGray;
            }

            & + .category {
                padding-top: 1rem;
                border-top: 1px solid $colorGray;
            }
        }
    }

    &__translation {
        border-top: 1px solid $borderColor;
        padding-top: 1rem;
        position: relative;

        .label-success {
            position: absolute;
            top: 0.8rem;
            right: 0;
        }
    }

    &__footer {
        background-color: rgba($colorGray,0.1);
    }
}

.message-information {
    list-style-type: none;
    margin-top: auto;
    font-size: 12px;
    width: calc(100% - 120px - 250px);

    &__item {
        color: gray;
        display: inline-block;
        
        margin-right: 1rem;
    }

    .message-information__name {
        color: $colorGray;

        &::before {
            margin-right: 0.2rem;
            display: inline-block;
        }

        &:hover {
            &::before {
                text-decoration: none;
            }
        }

        &--url-name {
            &::before {
                content: "\f015";
                font-family: FontAwesome;
            }
        }

        &--url-link::before {
            content: "\f0ac";
            font-family: FontAwesome;
        }

        &--time::before {
            content: "\f073";
            font-family: FontAwesome;
        }

        &--views::before {
            content: "\f0c0";
            font-family: FontAwesome;
        }
    }
}

.label-success {
    background-color: rgba($sucessColor,0.3);
    border-color: rgba($sucessColor,0.3);
    color: $sucessColor;
}

.open-jstree {
    width: 20px;
    height: 25px;
    padding-top: 0.25rem;
    padding-left: 0.4rem;
    cursor: pointer;
    color: $thirdlyColor;
}
