.messages-portlet {
    display: flex;
}

.filters-panel {
    position: relative;
    flex: 0 0 500px;
    z-index: 2;
    border: 1px solid black;
}

.filter-category {
    border-bottom: 1px solid #000;
    padding: 15px;
    position: relative;

    &__head {
        display: block;
        position: relative;

        &,
        &:hover {
            color: $primaryColor;
            text-decoration: none;
        }
    }

    &__title {
        font-size: 16px;
        color: #000;
        text-transform: uppercase;
        letter-spacing: 1px;
    }

    &__body {
        padding-right: 1rem;
        padding-left: 1rem;
    }

    &__item {
        margin-top: 0.8rem;

        .category {
            padding: 0 3rem;
        }
    }

    &__label {
        text-align: right;
        padding-top: 0.3rem;
        padding-right: 0.5rem;
        align-items: center;
        display: block;
        font-size: 14px;
    }
}



.filters-group {
    @include padding(10px, null, 10px, null);
}

.messages {
    padding-left: 2rem;
    transition: all 0.4s;
}

.tree-heading {
    &,
    &:link,
    &:hover {
        position: relative;
        display: inline-block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        border: 1px solid $primaryColor;
        border-radius: 0.25rem;
        text-decoration: none;
    }
}

.delete-category {
    &,
    &:link,
    &:hover {
        display: inline-block;
        text-decoration: none;
    }
}

.subtitle {
    font-size: 14px;
    color: #707070;
    vertical-align: middle;
}

.messages-list {
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.panel-close {
    position: absolute;
    right: 0;
    top: 50%;
    width: 20px;
    text-align: center;
    font-size: 2rem;
}

.messages-settings {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 1rem;

    &__pagination {
        margin-right: auto;
    }

    &__translation {
        align-self: flex-end;
        margin-right: 3rem;
    }
}

.messages-container {
    margin-top: 4rem;
}

.messages-heading {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid $borderColor;
}

.form-group + .panel,
.panel + .form-group {
    margin-top: 1.6rem;
}

.bootstrap-select .dropdown-toggle::before {
    content: "\f107";
    font-family: FontAwesome;
    font-weight: bold;
}

.bootstrap-select > .dropdown-toggle {
    padding: 0.375rem 0.75rem;
    width: 100%;
    background-color: transparent;
    border: 1px solid $borderColor;
}

.message-item {
    padding-top: 2rem;
    padding-bottom: 2rem;

    &__heading {
        font-size: 19px;
        color: $primaryColor;
        text-transform: uppercase;
        margin-right: 5rem;
    }

    &__text {
        margin-top: 0.8rem;
        font-size: 18px;
    }

    &__info {
        display: flex;
        flex-direction: column;
    }

    &__translation {
        border-top: 1px solid $borderColor;
        padding-top: 0.8rem;
        position: relative;

        .label-success {
            position: absolute;
            top: 0.8rem;
            right: 0;
        }
    }

    & + & {
        border-top: 1px solid $borderColor;
    }
}

.access {
    list-style-type: none;
    margin-top: auto;

    &__item {
        color: gray;

        & + & {
            margin-top: 0.5rem;
        }
    }

    i {
        margin-right: 10px;
    }

    .access__name {
        color: $colorGray;

        &::before {
            margin-right: 0.8rem;
            display: inline-block;
        }

        &:hover {
            &::before {
                text-decoration: none;
            }
        }

        &--url-name {
            &::before {
                content: "\f015";
                font-family: FontAwesome;
            }
        }

        &--url-link::before {
            content: "\f0ac";
            font-family: FontAwesome;
        }

        &--time::before {
            content: "\f073";
            font-family: FontAwesome;
        }

        &--views::before {
            content: "\f0c0";
            font-family: FontAwesome;
        }
    }
}

.label-success {
    background-color: rgba($sucessColor,0.3);
    border-color: rgba($sucessColor,0.3);
    color: $sucessColor;
}

.open-jstree {
    width: 20px;
    height: 25px;
    padding-top: 0.25rem;
    padding-left: 0.4rem;
    cursor: pointer;
    color: $thirdlyColor;
}

.radio-group {
    display: flex;
    position: relative;
    width: 100%;

    &--main {
        justify-content: center;
        padding-top: 1rem;
        padding-bottom: 1rem;

        &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 1px;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            background-color: $colorGray;
        }
    }
}

.inputGroup {
    background-color: #fff;
    display: inline-block;
    position: relative;

    label {
        padding: 0.2rem 0.5rem;
        width: 100%;
        display: block;
        text-align: left;
        color: $primaryColor;
        cursor: pointer;
        position: relative;
        z-index: 2;
        transition: color 200ms ease-in;
        overflow: hidden;
        border: 1px solid $primaryColor;
    }

    input:checked ~ label {
        color: #fff;
        background: $primaryColor;
    }

    input {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
    }
}