@import "../abstract/variables";

.messages-portlet {
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
}

.messages {
    width: calc(100% - 80px);
    min-height: 75vh;
    position: relative;
    padding-left: 1rem;
    //padding-left: 100px;
    transition: all 0.4s;
    overflow: hidden;

    @media (max-width: 576px) {
        width: 100%;
        padding-left: 0;
    }
}

.filters-panel.active + .messages {
    padding-left: 1rem;
    width: calc(100% - 450px);
}

.page-pagination + .select-container {
    margin-left: auto;
}

.tree-heading {
    &,
    &:link,
    &:hover {
        position: relative;
        display: inline-block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        border: 1px solid $primaryColor;
        border-radius: 0.25rem;
        text-decoration: none;
    }
}

.delete-category {
    &,
    &:link,
    &:hover {
        display: inline-block;
        text-decoration: none;
    }
}

.messages-settings {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    font-size: 12px;
    color: $primaryColor;

    & + & {
        padding-top: 0.5rem;
    }

    @media (max-width: 1280px) {
        align-items: flex-end;
        .page-pagination {
            flex-direction: column;
            align-items: flex-start;

            &__results {
                padding-left: 0;
            }
        }
    }

    &__item {
        align-self: flex-end;
        margin-right: 1rem;
    }

    .toggle-switch {
        vertical-align: text-top;
    }

    .link-icon > span {
        color: $thirdlyColor;
    }
}

.messages-container {
    width: calc(100% - 1rem);
    height: calc(100% - 100px);
    position: absolute;
    top: auto;
    padding-right: 1rem;
    margin-top: 1rem;
    border-top: 1px solid $primaryBorderColor;
    overflow-y: auto;

    @media (max-width: 1280px) {
        height: calc(100% - 125px - 2rem);
    }

    @media (max-width: 768px) {
        height: auto;
        position: static;
        top: auto;
        padding-right: 0;
        margin-top: 0;
        border-top: 1px solid $primaryBorderColor;
        overflow-y: auto;
    }

    @media (max-width: 576px) {
        width: 100%;
    }
}

.message-item {
    margin-top: 2rem;

    &__head {
        display: flex;

        @media (max-width: 1280px) {
            flex-wrap: wrap;
        }
    }

    &__main-content {
        flex: 1;
        overflow: hidden;
    }

    &__logo {
        flex: 0 0 120px;
        text-align: center;

        @media (max-width: 576px) {
            flex: 0 0 70px;
        }

        img {
            max-width: 90%;
            text-align: center;
            margin-top: 20px;
        }
    }

    &__heading {
        font-size: 16px;
        color: $primaryColor;
        text-transform: uppercase;
        font-weight: normal;
    }

    &__text {
        margin-top: 0.8rem;
        margin-bottom: 0;
        font-size: 12px;
    }

    &__rating {
        flex: 0 0 250px;

        .category {
            padding-bottom: 0.5rem;

            &__name {
                color: $colorGray;
            }

            & + .category {
                padding-top: 1rem;
                border-top: 1px solid $primaryBorderColor;
            }
        }

        @media (max-width: 1280px) {
            flex: 100%;
            display: flex;
            margin: 0.5rem 0;

            .category {
                flex: 1;
                padding: 0;

                & + .category {
                    padding-top: 0;
                    padding-left: 0.25rem;
                    border-left: 1px solid $primaryBorderColor;
                    border-top: 0;
                }
            }
        }
    }

    &__translation {
        border-top: 1px solid $primaryBorderColor;
        padding-top: 1rem;
        margin-top: 1rem;
        position: relative;

        .message-item__heading {
            margin-right: 5rem;
        }

        .label-success {
            position: absolute;
            top: 0.8rem;
            right: 0;
        }
    }

    &__footer {
        background-color: rgba($colorGray,0.1);
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        @media (max-width: 1280px) {
            flex-wrap: wrap;
        }
    }
}

.message-information {
    list-style-type: none;
    margin: 0;
    font-size: 12px;
    width: calc(100% - 120px - 250px);

    & + & {
        width: 250px;
    }
    @media (max-width: 1280px) {
        width: auto;

        & + & {
            width: auto;
            text-align: right;
        }
    }

    &__item {
        color: $colorGray;
        display: block;
        margin-right: 1rem;
        display: inline-block;

        // @media (min-width: 992px) {
        //     &:not(:last-child) {
        //         margin-right: 1rem;
        //         display: inline-block;
        //     }
        // }
    }

    .message-information__name {
        color: $colorGray;

        &::before {
            margin-right: 0.2rem;
            display: inline-block;
        }

        &:hover {
            &::before {
                text-decoration: none;
            }
        }

        &--url-name {
            &::before {
                content: "\f015";
                font-family: FontAwesome;
            }
        }

        &--url-link::before {
            content: "\f0ac";
            font-family: FontAwesome;
        }

        &--time::before {
            content: "\f073";
            font-family: FontAwesome;
        }

        &--views::before {
            content: "\f0c0";
            font-family: FontAwesome;
        }
    }
}

.label-success {
    background-color: $thirdlyColor;
    border-color: $primaryBorderColor;
    color: WHITE;
}

.open-jstree {
    width: 20px;
    height: 25px;
    padding-top: 0.25rem;
    padding-left: 0.4rem;
    cursor: pointer;
    color: $thirdlyColor;
}
