
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Organisation settings</title>
    <link rel="stylesheet" href="css/libs/clay.css"> 

    <link rel="stylesheet" href="css/libs/main.css">
 <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">    
    <link rel="stylesheet" href="css/libs/treeJS.css">
    <link rel="stylesheet" href="css/custom.css">
    <script src="js/libs.js"></script>

 
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/element-ui@2.6.1/lib/index.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

    

</head>

<body>

    <div class="cims" id="wrapper">
        <header class="header">
            <div class="container-fluid">
                <nav class="main-nav navbar-expand-lg navbar-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="main-logo">
                        <img class="main-logo__img" src="images/logoCims.png" alt="CIMS logo">
                        <span class="main-logo__name">CIMS</span>
                    </div>
                    <div class="navbar-collapse collapse main-nav__navigation" id="navbarSupportedContent">
                        <div class="main-nav__section main-nav__section--left">
                            
                            <ul class="main-nav__list">
                                <li class="main-nav__item">
                                    <a class="main-nav__link " href="organisation-selection.html">Home</a>
                                </li>
                                <li class="main-nav__item">
                                    <a class="main-nav__link " href="index.html">Messages</a>
                                </li>
                            </ul>

                        </div>

                        <div class="main-nav__section main-nav__section--right">

                            <ul class="main-nav__list">
                                <li class="main-nav__item">
                                    <a class="main-nav__link " href="message-editor.html">New Message</a>
                                </li>
                                <li class="main-nav__item">
                                    <div class="header-dropdown">
                                        <span data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle" data-display="static">
                                            <a data-cq-component="link" href="#" target="_self" class="main-nav__link caret active">Administrator</a>
                                        </span>

                                        <div class="header-dropdown__inner dropdown-menu" role="menu">
                                            <ul class="header-submenu">
                                                    <li class="header-submenu__item">
                                                        <a class="header-submenu__link " href="categories-editor.html">Categories</a>
                                                    </li>
                                                    <li class="header-submenu__item">
                                                        <a class="header-submenu__link " href="ressource-editor.html">Resources</a>
                                                    </li>
                                                    <li class="header-submenu__item">
                                                        <a class="header-submenu__link active" href="organisation-settings.html">Organisation Settings</a>
                                                    </li>
                                                    <li class="header-submenu__item">
                                                        <a class="header-submenu__link " href="translation.html">Translation</a>
                                                    </li>
                                                    <li class="header-submenu__item">
                                                        <a class="header-submenu__link " href="rules.html">Rules</a>
                                                    </li>
                                                    <li class="header-submenu__item">
                                                        <a class="header-submenu__link " href="feeds.html">Feeds</a>
                                                    </li>
                                                    <li class="header-submenu__item">
                                                        <a class="header-submenu__link " href="mandatory-categories.html">Mandatory categories</a>
                                                    </li>
                                                    <li class="header-submenu__item">
                                                        <a class="header-submenu__link " href="message-preferences.html">Message preferences</a>
                                                    </li>
                                                    <li class="header-submenu__item">
                                                        <a class="header-submenu__link " href="newsletter.html">Newsletter</a>
                                                    </li>
                                                    <li class="header-submenu__item">
                                                        <a class="header-submenu__link " href="auditing.html">Auditing</a>
                                                    </li>

                                            </ul>
                                        </div>

                                    </div>
                                </li>
                                <li class="main-nav__item">
                                    <a class="main-nav__link" href="#">Sign Out</a>
                                </li>
                            </ul>
                        
                        </div>
                    </div>
                </nav>
            </div>
        </header>
        <main>

            <div class="container" id="app">
                <div class="organisation-settings">
                    <div class="organisation-settings__container">
                        <form>
                            <h2>Organisations settings</h2>

                            <div class="organisation-group">
                                <template>
                                <el-select v-model="value" placeholder="Select">
                                    <el-option
                                    v-for="item in options"
                                    :key="item.value"
                                    :label="item.label"
                                    :value="item.value">
                                    <img src="images/skoda-cims.jpg" class="select-img"> 
                                    </el-option>
                                </el-select>
                                </template>
                            </div>

                            <div class="row organisation-group">
                                <div class="col-6">
                                    <span class="organisation-settings__text">Name:</span>
                                </div>
                                <div class="col-6">
                                    <span class="organisation-settings__text">CIMS</span>
                                </div>
                            </div>
                            <div class="row organisation-group">
                                <div class="col-6"><span class="organisation-settings__text">Type:</span></div>
                                <div class="col-6"><span class="organisation-settings__text">regular-organisation</span></div>
                            </div>
                            <div class="row organisation-group">
                                <div class="col-6"><span class="organisation-settings__text">Category:</span></div>
                                <div class="col-6">
                                    <template>
                                    <el-select v-model="value" placeholder="Select">
                                        <el-option
                                        v-for="item in options"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                        </el-option>
                                    </el-select>
                                    </template>
                                </div>
                            </div>
                            <div class="row organisation-group">
                                <div class="col-6"><span class="organisation-settings__text">Resource:</span></div>
                                <div class="col-6">
                                    <template>
                                    <el-select v-model="value" placeholder="Select">
                                        <el-option
                                        v-for="item in options"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                        
                                        </el-option>
                                    </el-select>
                                    </template>
                                </div>
                            </div>

                            <div class="row organisation-group">
                                <div class="col-6"><span class="organisation-settings__text">Expiration Days:</span></div>
                                <div class="col-6">
                                    <template>
                                    <el-select v-model="value" placeholder="Select">
                                        <el-option
                                        v-for="item in options"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                        
                                        </el-option>
                                    </el-select>
                                    </template>
                                </div>
                            </div>

                            <div class="organisation-group">
                                <div class="info-box">Open any message and copy URL, starting from http, ending before &msgid</div>
                                <div class="row">
                                    <div class="col-6"><span class="organisation-settings__text">Message Default URL:</span></div>
                                    <div class="col-6">
                                        <input type="text" class="form-control" >
                                    </div>
                                </div>
                            </div>

                            <button class="cims-btn cims-btn--primary">Save</button>
                        </form>
                    </div>
                
                </div>

                <div class="organisation-settings">
                    <div class="organisation-settings__container">
                        <form>
                            <div class="row organisation-group">
                                <div class="col-6"><span class="organisation-settings__text">New Root-Category:</span></div>
                                <div class="col-6">
                                    <input type="text" class="form-control" >
                                </div>
                            </div>
                            <div class="row organisation-group">
                                <div class="col-6"><span class="organisation-settings__text">New Root-Resource-Category:</span></div>
                                <div class="col-6">
                                    <input type="text" class="form-control" >
                                </div>
                            </div>
                            <div class="row organisation-group">
                                <div class="col-6"><span class="organisation-settings__text">New Resource-Expriration Days:</span></div>
                                <div class="col-6">
                                    <input type="text" class="form-control" >
                                </div>
                            </div>

                            <button class="cims-btn cims-btn--primary">Add new Categories</button>
                        </form>

                        <form>
                            <h2>Redirect settings</h2>
                            <div class="info-box">Please insert the default landing page for multi-organization users.</div>
                            <div class="row organisation-group">
                                <div class="col-12">
                                    <input type="text" class="form-control" placeholder="/home">
                                </div>
                            </div>
                            <button class="cims-btn cims-btn--primary">Save Default Login Redirect</button>
                        </form>
                    </div>
                
                </div>

                <div class="organisation-settings">
                    <div class="organisation-settings__container">
                        <form>
                            <h2>Indexing</h2>
                            <div class="row organisation-group">
                                <div class="col-6">
                                    <template>
                                    <el-select v-model="value" placeholder="Select">
                                        <el-option
                                        v-for="item in options"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">                     
                                        </el-option>
                                    </el-select>
                                    </template>
                                </div>
                                <div class="col-6">
                                    <div class="info-box">Messages: 734552</div>
                                </div>
                            </div>
                            <div class="organisation-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input required" id="fastIndexing" name="indexing" value="true" required="">
                                    <label class="custom-control-label" for="fastIndexing">fast indexing (avoid status editing of messages)</label>
                                </div>
                            </div>
                            <div class="organisation-group">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input required" id="indexUncategorized" name="indexing" value="true" required="">
                                    <label class="custom-control-label" for="indexUncategorized">index uncategorized</label>
                                </div>
                            </div>  
                            <div class="row organisation-group">
                                <div class="col-6"><span class="organisation-settings__text">Start date:</span></div>
                                <div class="col-6">
                                    <input type="text" class="form-control" >
                                </div>
                            </div>

                            <button class="cims-btn cims-btn--primary">Start</button>
                        </form>

                        <form>
                            <h2>Delete</h2>
                            <div class="row organisation-group">
                                <div class="col-6">
                                    <template>
                                    <el-select v-model="value" placeholder="Select">
                                        <el-option
                                        v-for="item in options"
                                        :key="item.value"
                                        :label="item.label"
                                        :value="item.value">
                                        
                                        </el-option>
                                    </el-select>
                                    </template>
                                </div>
                                <div class="col-6">
                                    <div class="info-box">Messages: 734552</div>
                                </div>
                            </div>
                            <div class="organisation-group">
                                <div class="custom-control custom-radio-circle">
                                    <input type="radio" id="delete1" name="deleteOrganization" value="Rating" class="custom-control-input radio-item">
                                    <label class="custom-control-label" for="delete1">Delete complete organisation (including all messages, categories and sources)</label>
                                </div>
                            </div> 
                            <div class="organisation-group">
                                <div class="custom-control custom-radio-circle">
                                    <input type="radio" id="delete2" name="deleteOrganization" value="Rating" class="custom-control-input radio-item">
                                    <label class="custom-control-label" for="delete2">Deavtivate or Reactive organisation (Assets will remail in the Database)</label>
                                </div>
                            </div>
                            <div class="organisation-group">
                                <div class="custom-control custom-radio-circle">
                                    <input type="radio" id="delete3" name="deleteOrganization" value="Rating" class="custom-control-input radio-item">
                                    <label class="custom-control-label" for="delete3">Delete only messages in the following timeframe</label>
                                </div>
                            </div>
                            <div class="row organisation-group">
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-5">
                                            <span class="organisation-settings__text">Strart date:</span>
                                        </div>
                                        <div class="col-7">
                                            <input type="text" class="form-control" >
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row">
                                        <div class="col-5">
                                            <span class="organisation-settings__text">End date:</span>
                                        </div>
                                        <div class="col-7">
                                            <input type="text" class="form-control" >
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <button class="cims-btn cims-btn--primary">Start</button>
                        </form>
                    </div>
                
                </div>


            </div>


        </main>

        <footer class="footer">
            <div class="container-fluid">
                <p class="footer__copyright">© Copyright 2018 Consline AG</p>
            </div>
        </footer>
        
    </div>


    <!-- SCRIPTS -->
 
    <script type="text/babel">
        var Main = {
          data() {
            return {
              options: [{
                value: 'Option1',
                label: 'Option11'
              }, {
                value: 'Option2',
                label: 'Option22'
              }, {
                value: 'Option3',
                label: 'Option33'
              }, {
                value: 'Option4',
                label: 'Option44'
              }, {
                value: 'Option5',
                label: 'Option55'
              }],
              value: ''
            }
          }
        }
      var Ctor = Vue.extend(Main)
      new Ctor().$mount('#app')

</script>
    <script src="js/main.js"></script>
</body>
</html>