*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    background-color: $colorWhite;
}

.cims {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    outline: none;
    font-family: Helvetica, Arial, "Helvetica Neue", sans-serif;
    padding-top: 0;
    flex: 1;
    background-color: $colorAppBG;
    color: $colorAppText;
    font-size: 14px;

    .page-link:focus {
        box-shadow: none;
    }

    h2 {
        font-size: 24px;
        color: #012b5b;
    }

    h3 {
        font-size: 16px;
        color: #012b5b;
    }

    dl,
    ol,
    ul,
    label {
        margin-bottom: 0;
    }

    .caret {
        border: none;
        height: auto;
        width: auto;
        margin: 0;
        
        &:after {
            content: '';
            border-top: 0.3em dashed;
            display: inline-block;
            height: 0;
            margin-left: 4px;
            vertical-align: middle;
            width: 0;
            border-top: 0.3em solid \9;
            border-left: 0.3em solid transparent;
            border-right: 0.3em solid transparent;
        }
    }

    main {
        flex-grow: 1;
        padding-top: 1rem;
        padding-bottom: 1rem;

        @media (max-width: 991px) {
            margin-top: 90px;
        }
    }

    .container-fluid {
        
        @media (min-width: 1281px) {
            padding-left: 40px;
            padding-right: 40px;
        }
    }
}

a,
a:hover {
    color: $primaryColor;
    color: $colorTextLink;
}

#wrapper {
    padding-top: 0;
}

.jstree {
    max-height: 170px;
    overflow-y: auto;
    font-size: 12px;
}

.jstree-default .jstree-themeicon {
    display: none;
}

.container {
    @media (min-width: 1600px) {
        max-width: 1360px;
    }

    @media (min-width: 1800px) {
        max-width: 1500px;
    }
}

.cims-alert {
    background-color: rgba($secondaryColor, 0.5);
    border: 1px solid $primaryColor;
    text-align: center;
    padding: 5px;

    p {
        margin: 0;
    }

}

.bold {
    font-weight: bold;
}

.link-icon {
    display: inline-block;
    margin-right: 0.5rem;

    span {
        color: $thirdlyColor;
    }
}

.link-group {
    margin: 0.5rem 0;
}
