*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    box-sizing: border-box;
    background-color: $colorWhite;
}

.cims {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    outline: none;
    font-family: Helvetica, Arial, "Helvetica Neue", sans-serif;
    padding-top: 0;
    flex: 1;

    .page-link:focus {
        box-shadow: none;
    }

    h2 {
        font-size: 24px;
    }

    dl,
    ol,
    ul,
    label {
        margin-bottom: 0;
    }

    a {
        color: $primaryColor;
    }

    main {
        flex-grow: 1;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }

    .container-fluid {
        padding-left: 40px;
        padding-right: 40px;
    }
}

#wrapper {
    padding-top: 0;
}

.jstree {
    max-height: 170px;
    overflow-y: auto;
    font-size: 12px;
}

.jstree-default .jstree-themeicon {
    display: none;
}
