                <div class="categorie-editor">
                    <div class="table-tree__link-container">
                        <h2 class="categorie-editor__title">
                            Categories
                        </h2>
                        <a href="#table-tree" class="collapse-link" id="expandAll">
                            <span id="expandAll">
                                expand all 
                                <i class="icon-chevron-down"></i>
                            </span>
                        </a>
                        <a href="#table-tree" class="collapse-link" id="collapseAll">
                            <span>
                                collapse all
                                <i class="icon-chevron-up"></i>
                            </span>
                        </a>
                    </div>
                    <div class="source-table">
                        <div class="table-tree" id="table-tree">
                            <div class="table-tree__wrapper">
                                <div class="table-tree__container">
                                    <div class="table-tree__item have-children">
                                        <div class="table-tree__condition">
                                            <span class="collapse-icon">-</span>
                                            <span class="show-icon">+</span>
                                        </div>
                                        <div class="table-tree__name">All ressources</div>
                                        <div class="table-tree__controls">
                                            <button class="table-tree__btn"><span class="add">+</span>Add new</button>
                                            <button class="table-tree__btn"><span><i class="far fa-edit"></i></span>Edit</button>
                                            <button class="table-tree__btn"><span><i class="far fa-trash-alt"></i></span>Delete</button>
                                        </div>
                                    </div>

                                    <div class="table-tree__children">
                                        <div class="table-tree__container">
                                            <div class="table-tree__item">
                                                <div class="table-tree__condition">
                                                    <span class="collapse-icon">-</span>
                                                    <span class="show-icon">+</span>
                                                </div>
                                                <div class="table-tree__name">All ressources</div>
                                                <div class="table-tree__controls">
                                                    <button class="table-tree__btn"><span class="add">+</span>Add new</button>
                                                    <button class="table-tree__btn"><span><i class="far fa-edit"></i></span>Edit</button>
                                                    <button class="table-tree__btn"><span><i class="far fa-trash-alt"></i></span>Delete</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-tree__container">
                                            <div class="table-tree__item have-children">
                                                <div class="table-tree__condition">
                                                    <span class="collapse-icon">-</span>
                                                    <span class="show-icon">+</span>
                                                </div>
                                                <div class="table-tree__name">All ressources</div>
                                                <div class="table-tree__controls">
                                                    <button class="table-tree__btn"><span class="add">+</span>Add new</button>
                                                    <button class="table-tree__btn"><span><i class="far fa-edit"></i></span>Edit</button>
                                                    <button class="table-tree__btn"><span><i class="far fa-trash-alt"></i></span>Delete</button>
                                                </div>
                                            </div>

                                            <div class="table-tree__children">
                                                <div class="table-tree__container">
                                                    <div class="table-tree__item active">
                                                        <div class="table-tree__condition">
                                                            <span class="collapse-icon">-</span>
                                                            <span class="show-icon">+</span>
                                                        </div>
                                                        <div class="table-tree__name" contenteditable>All ressources</div>
                                                        <div class="table-tree__category">

                                                            <span>Category type:</span>
                                                            <div class="custom-control custom-control-inline custom-radio-circle">
                                                                <input type="radio" id="categoryRating" name="category-type" value="Rating" class="custom-control-input radio-item">
                                                                <label class="custom-control-label" for="categoryRating">Rating</label>
                                                            </div>
                                                            <div class="custom-control custom-control-inline custom-radio-circle">
                                                                <input type="radio" id="categoryTagging" name="category-type" value="Rating" class="custom-control-input radio-item">
                                                                <label class="custom-control-label" for="categoryTagging">Tagging</label>
                                                            </div>

                                                            <div class="custom-control custom-checkbox">
                                                                <input type="checkbox" class="custom-control-input required" id="personalDataTermsCheckbox" name="personalDataTermsAccepted" value="true" required="">
                                                                <label class="custom-control-label" for="personalDataTermsCheckbox">
                                                                    TOP</label>
                                                            </div>


                                                        </div>
                                                        <div class="table-tree__controls">
                                                            <button class="cims-btn cims-btn--primary">Save</button>
                                                            <button class="cims-btn cims-btn--default">Cancel</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="table-tree__wrapper">
                                <div class="table-tree__container">
                                    <div class="table-tree__item">
                                        <div class="table-tree__condition">
                                            <span class="collapse-icon">-</span>
                                            <span class="show-icon">+</span>
                                        </div>
                                        <div class="table-tree__name">All ressources</div>
                                        <div class="table-tree__controls">
                                            <button class="table-tree__btn"><span class="add">+</span>Add new</button>
                                            <button class="table-tree__btn"><span><i class="far fa-edit"></i></span>Edit</button>
                                            <button class="table-tree__btn"><span><i class="far fa-trash-alt"></i></span>Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="table-tree__wrapper">
                                <div class="table-tree__container">
                                    <div class="table-tree__item have-children">
                                        <div class="table-tree__condition">
                                            <span class="collapse-icon">-</span>
                                            <span class="show-icon">+</span>
                                        </div>
                                        <div class="table-tree__name">All ressources</div>
                                        <div class="table-tree__controls">
                                            <button class="table-tree__btn"><span class="add">+</span>Add new</button>
                                            <button class="table-tree__btn"><span><i class="far fa-edit"></i></span>Edit</button>
                                            <button class="table-tree__btn"><span><i class="far fa-trash-alt"></i></span>Delete</button>
                                        </div>
                                    </div>

                                    <div class="table-tree__children">
                                        <div class="table-tree__container">
                                            <div class="table-tree__item">
                                                <div class="table-tree__condition">
                                                    <span class="collapse-icon">-</span>
                                                    <span class="show-icon">+</span>
                                                </div>
                                                <div class="table-tree__name">All ressources</div>
                                                <div class="table-tree__controls">
                                                    <button class="table-tree__btn"><span class="add">+</span>Add new</button>
                                                    <button class="table-tree__btn"><span><i class="far fa-edit"></i></span>Edit</button>
                                                    <button class="table-tree__btn"><span><i class="far fa-trash-alt"></i></span>Delete</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="table-tree__container">
                                            <div class="table-tree__item have-children">
                                                <div class="table-tree__condition">
                                                    <span class="collapse-icon">-</span>
                                                    <span class="show-icon">+</span>
                                                </div>
                                                <div class="table-tree__name">All ressources</div>
                                                <div class="table-tree__controls">
                                                    <button class="table-tree__btn"><span class="add">+</span>Add new</button>
                                                    <button class="table-tree__btn"><span><i class="far fa-edit"></i></span>Edit</button>
                                                    <button class="table-tree__btn"><span><i class="far fa-trash-alt"></i></span>Delete</button>
                                                </div>
                                            </div>

                                            <div class="table-tree__children">
                                                <div class="table-tree__container">
                                                    <div class="table-tree__item">
                                                        <div class="table-tree__condition">
                                                            <span class="collapse-icon">-</span>
                                                            <span class="show-icon">+</span>
                                                        </div>
                                                        <div class="table-tree__name">All ressources</div>
                                                        <div class="table-tree__controls">
                                                            <button class="table-tree__btn"><span class="add">+</span>Add new</button>
                                                            <button class="table-tree__btn"><span><i class="far fa-edit"></i></span>Edit</button>
                                                            <button class="table-tree__btn"><span><i class="far fa-trash-alt"></i></span>Delete</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>