        <header class="header">
            <div class="container-fluid">
                <nav class="main-nav navbar-expand-lg navbar-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="main-logo">
                        <img class="main-logo__img" src="images/cims-logo2.png" alt="CIMS logo">
                        {# <a class="main-logo__name" href="#">CIMS</a> #}
                    </div>
                    <div class="navbar-collapse collapse main-nav__navigation" id="navbarSupportedContent">
                        <div class="main-nav__section main-nav__section--left">
                            
                            <ul class="main-nav__list">
                            {% for item in navItems %}
                                <li class="main-nav__item">
                                    <a class="main-nav__link {% if pageId == item.navActiveItem %}active{% endif %}" href="#">{{ item.title }}</a>
                                </li>
                            {% endfor %}
                            </ul>

                        </div>

                        <div class="main-nav__section main-nav__section--right">

                            <ul class="main-nav__list">
                                <li class="main-nav__item">
                                    <a class="main-nav__link" href="#">New Message</a>
                                </li>
                                <li class="main-nav__item">
                                    <div class="header-dropdown">
                                        <span data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle" data-display="static">
                                            <a data-cq-component="link" href="#" target="_self" class="main-nav__link">Administrator</a>
                                        </span>
                                        
                                        <div class="header-dropdown__inner dropdown-menu" role="menu">
                                            <ul class="header-submenu">
                                                <li class="header-submenu__item">
                                                    <a href="#" class="header-submenu__link">Categories</a>
                                                </li>
                                                <li class="header-submenu__item">
                                                    <a href="#" class="header-submenu__link">Resources</a>
                                                </li>
                                                <li class="header-submenu__item">
                                                    <a href="#" class="header-submenu__link">Organisation Settings</a>
                                                </li>                                                
                                            </ul>
                                        </div>

                                    </div>
                                </li>
                                <li class="main-nav__item">
                                    <a class="main-nav__link" href="#">Sign Out</a>
                                </li>
                            </ul>
                        
                        </div>
                    </div>
                </nav>
            </div>
        </header>