            <div class="row">
                <div class="col">
                    <div class="panel">
                        <a class="panel__head collapse-icon" aria-controls="mandatoryCategories"
                            aria-expanded="true" data-toggle="collapse" href="#mandatoryCategories" role="tab">
                            <h2 class="text-translate" data-translate="">Mandatory categories</h2>
                            <span class="collapse-icon-closed">
                                <i class="fas fa-chevron-down"></i>
                            </span>
                            <span class="collapse-icon-open">
                                <i class="fas fa-chevron-up"></i>
                            </span>
                        </a>
                        
                        <div class="collapse show" id="mandatoryCategories" role="tabpanel"> 
                            <div class="table-tree__wrapper" style="max-height: 300px; overflow-y: auto;">
                                <el-tree
                                    class="filter-tree table-tree"
                                    :data="categoryTree"
                                    ref="treeCategories"
                                    default-expand-all
                                    :props="categoryTreeProps"
                                    @node-click="onCategoryNodeClick"
                                    >
                                    <span slot-scope="{ node, data }">
                                        <el-checkbox class="disabled-checkbox" v-model="node.checked"></el-checkbox>
                                        <a href="javascript:void(0)" :class="'jstree-anchor' + (data.ratingCategory === true?' jstree-rating':'') + (data.assigned === false?'':' tree-category--disabled')" >
                                            {% raw %} {{ data.name }} {% endraw %}
                                        </a>
                                    </span>
                                </el-tree>
                            </div>
                            <button class="cims-btn cims-btn--primary mt-3">Add root</button>
            
                            <h2 class="mt-4">Selected nodes:</h2>
                            <ol class="bullet">
                                <li class="assignment-rule__item">
                                    <span class="category__name">CIMS-Restructure</span>
                                    <span class="interact" ><i class="fas fa-times-circle"></i></span>
                                </li>
                                <li class="assignment-rule__item">
                                    <span class="category__name">China</span>
                                    <span class="category__name">CIMS-Restructure</span>
                                    <span class="category__name">CIMS</span>
                                    <span class="interact" ><i class="fas fa-times-circle"></i></span>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="panel">
                        <a class="panel__head collapse-icon" aria-controls="extendedTextSearchBody"
                            aria-expanded="true" data-toggle="collapse" href="#extendedTextSearchBody" id="extendedTextSearch" role="tab">
                            <h2 class="text-translate" data-translate="">Revoke category node</h2>
                            <span class="collapse-icon-closed">
                                <i class="fas fa-chevron-down"></i>
                            </span>
                            <span class="collapse-icon-open">
                                <i class="fas fa-chevron-up"></i>
                            </span>
                        </a>
                        
                        <div class="collapse show" aria-labelledby="extendedTextSearch" id="extendedTextSearchBody" role="tabpanel"> 
                            <div class="table-tree__wrapper" style="max-height: 300px; overflow-y: auto;">
                                <el-tree
                                    class="filter-tree table-tree"
                                    :data="categoryTree"
                                    ref="treeCategories"
                                    default-expand-all
                                    :props="categoryTreeProps"
                                    @node-click="onCategoryNodeClick"
                                    >
                                    <span slot-scope="{ node, data }">
                                        <el-checkbox class="disabled-checkbox" v-model="node.checked"></el-checkbox>
                                        <a href="javascript:void(0)" :class="'jstree-anchor' + (data.ratingCategory === true?' jstree-rating':'') + (data.assigned === false?'':' tree-category--disabled')" >
                                            {% raw %} {{ data.name }} {% endraw %}
                                        </a>
                                    </span>
                                </el-tree>
                            </div>
                            <button class="cims-btn cims-btn--primary mt-3">Add root</button>
            
                            <h2 class="mt-4">Selected nodes:</h2>
                            <ol class="bullet">
                                <li class="assignment-rule__item">
                                    <span class="category__name">CIMS-Restructure</span>
                                    <span class="interact" ><i class="fas fa-times-circle"></i></span>
                                </li>
                                <li class="assignment-rule__item">
                                    <span class="category__name">China</span>
                                    <span class="category__name">CIMS-Restructure</span>
                                    <span class="category__name">CIMS</span>
                                    <span class="interact" ><i class="fas fa-times-circle"></i></span>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>

