            <form>
                <div class="custom-control custom-control-inline custom-radio-circle">
                    <input type="radio" id="messageType1" name="message-type" class="custom-control-input radio-item">
                    <label for="messageType1" class="custom-control-label">Message</label>
                </div>
                <div class="custom-control custom-control-inline custom-radio-circle">
                    <input type="radio" id="messageType2" name="message-type" class="custom-control-input radio-item">
                    <label for="messageType2" class="custom-control-label">Alert</label>
                </div>
                <div class="custom-control custom-control-inline custom-radio-circle">
                    <input type="radio" id="messageType3" name="message-type" class="custom-control-input radio-item">
                    <label for="messageType3" class="custom-control-label">Report</label>
                </div>
                <div class="message-preferences">
                        <div class="message-preferences__item">
                            <div class="trees-block">
                                <div class="trees-item">
                                    <div class="message-preferences__title">Root-Category</div>
                                    <div class="block">
                                        <el-tree
                                        :data="data5"
                                        show-checkbox
                                        node-key="id"
                                        default-expand-all
                                        :expand-on-click-node="false">
                                        <span class="custom-tree-node" slot-scope="{ node, data }">
                                            <span>{% raw %} {{node.label + " category"}} {% endraw %}</span>
                                            <span>
                                            <el-button
                                                type="text"
                                                size="mini"
                                                class="static"
                                                @click="() => addRoot(data)">
                                                Add Root Category
                                            </el-button>
                                            </span>
                                        </span>
                                        </el-tree>
                                    </div>
                                </div>
                                <div class="trees-item">
                                    <div class="message-preferences__title">Category</div>
                                    <el-tree
                                    :data="data5"
                                    node-key="id"
                                    :expand-on-click-node="false">
                                    <span class="custom-tree-node" slot-scope="{ node, data }">
                                        <span>{% raw %} {{node.label + " category copy"}} {% endraw %}</span>
                                        <span>
                                        <el-button
                                            type="text"
                                            size="mini"
                                            class="static"
                                            @click="() => addRoot(data)">
                                            Add Root Category
                                        </el-button>
                                        </span>
                                        <span v-if="data.id == 1">
                                            <el-button
                                                type="text"
                                                size="mini">
                                                <i class="fas fa-arrow-alt-circle-down"></i>
                                            </el-button>
                                            <el-button
                                                type="text"
                                                size="mini">
                                                <i class="fas fa-times-circle"></i>
                                            </el-button>
                                        </span>
                                        <span v-else-if="data.id == 2 || data.id == 3">
                                            <el-button
                                                type="text"
                                                size="mini">
                                                <i class="fas fa-arrow-alt-circle-up"></i>
                                            </el-button>
                                            <el-button
                                                type="text"
                                                size="mini">
                                                <i class="fas fa-times-circle"></i>
                                            </el-button>
                                        </span>
                                    </span>
                                    </el-tree> 
                                </div>
                            </div>
                        </div>



                        <div class="message-preferences__item">
                            <div class="trees-block">
                                <div class="trees-item">
                                    <div class="message-preferences__title">Root-Resource</div>
                                    <div class="block">
                                        <el-tree
                                        :data="data4"
                                        show-checkbox
                                        node-key="id"
                                        default-expand-all
                                        :expand-on-click-node="false">
                                        <span class="custom-tree-node" slot-scope="{ node, data }">
                                            <span>{% raw %} {{node.label + " resource"}} {% endraw %}</span>
                                            <span>
                                            <el-button
                                                type="text"
                                                size="mini"
                                                class="static"
                                                @click="() => addRoot(data)">
                                                Add Root Resource
                                            </el-button>
                                            </span>
                                        </span>
                                        </el-tree>
                                    </div>
                                </div>
                                <div class="trees-item">
                                    <div class="message-preferences__title">Resource</div>
                                    <el-tree
                                    :data="data4"
                                    node-key="id"
                                    :expand-on-click-node="false">
                                    <span class="custom-tree-node" slot-scope="{ node, data }">
                                        <span>{% raw %} {{node.label + " resource copy"}} {% endraw %}</span>
                                        <span v-if="data.id == 1">
                                            <el-button
                                                type="text"
                                                size="mini">
                                                <i class="fas fa-arrow-alt-circle-down"></i>
                                            </el-button>
                                            <el-button
                                                type="text"
                                                size="mini">
                                                <i class="fas fa-times-circle"></i>
                                            </el-button>
                                        </span>
                                        <span v-else-if="data.id == 2 || data.id == 3">
                                            <el-button
                                                type="text"
                                                size="mini">
                                                <i class="fas fa-arrow-alt-circle-up"></i>
                                            </el-button>
                                            <el-button
                                                type="text"
                                                size="mini">
                                                <i class="fas fa-times-circle"></i>
                                            </el-button>
                                        </span>
                                    </span>
                                    </el-tree> 
                                </div>
                            </div>
                        </div>
                        <div class="message-preferences__item">
                            <div class="predefined-filters">
                                <h3>Predefined Filters</h3>
                                <p>Saved Categories:</p>
                                <ul class="predefined-filters">
                                    <li class="predefined-filters__item">
                                        <ul class="predefined-filter">
                                            <li class="predefined-filter__item">
                                                <span class="predefined-filter__text">CIMS</span>
                                            </li>
                                            <li class="predefined-filter__item">
                                                <span class="predefined-filter__text">Archive</span>
                                            </li>
                                            <li class="predefined-filter__item">
                                                <span class="predefined-filter__text">All models Toyota</span>
                                            </li>
                                            <li class="predefined-filter__item">
                                                <span class="predefined-filter__text">Aygo</span>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="predefined-filters__item">
                                        <ul class="predefined-filter">
                                            <li class="predefined-filter__item">
                                                <span class="predefined-filter__text">CIMS</span>
                                            </li>
                                            <li class="predefined-filter__item">
                                                <span class="predefined-filter__text">Archive</span>
                                            </li>
                                            <li class="predefined-filter__item">
                                                <span class="predefined-filter__text">All models Toyota</span>
                                            </li>
                                            <li class="predefined-filter__item">
                                                <span class="predefined-filter__text">Aygo</span>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>

                                <p>Saved Resources:</p>
                                <ul class="predefined-filters">
                                    <li class="predefined-filters__item">
                                        <ul class="predefined-filter">
                                            <li class="predefined-filter__item">
                                                <span class="predefined-filter__text">CIMS</span>
                                            </li>
                                            <li class="predefined-filter__item">
                                                <span class="predefined-filter__text">Archive</span>
                                            </li>
                                            <li class="predefined-filter__item">
                                                <span class="predefined-filter__text">All models Toyota</span>
                                            </li>
                                            <li class="predefined-filter__item">
                                                <span class="predefined-filter__text">Aygo</span>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="predefined-filters__item">
                                        <ul class="predefined-filter">
                                            <li class="predefined-filter__item">
                                                <span class="predefined-filter__text">CIMS</span>
                                            </li>
                                            <li class="predefined-filter__item">
                                                <span class="predefined-filter__text">Archive</span>
                                            </li>
                                            <li class="predefined-filter__item">
                                                <span class="predefined-filter__text">All models Toyota</span>
                                            </li>
                                            <li class="predefined-filter__item">
                                                <span class="predefined-filter__text">Aygo</span>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>                    
                        </div>
                        <div class="message-preferences__item">
                            <div class="predefined-filters">
                                <h3>Saved Predefined Filters</h3>
                                <p>Saved Categories:</p>
                                <ul class="predefined-filters">
                                    <li class="predefined-filters__item">
                                        <ul class="predefined-filter">
                                            <li class="predefined-filter__item">
                                                <span class="predefined-filter__text">CIMS</span>
                                                <el-button
                                                    type="text"
                                                    size="mini">
                                                    <i class="fas fa-times-circle"></i>
                                                </el-button>
                                            </li>
                                            <li class="predefined-filter__item">
                                                <span class="predefined-filter__text">Archive</span>
                                                <el-button
                                                    type="text"
                                                    size="mini">
                                                    <i class="fas fa-times-circle"></i>
                                                </el-button>
                                            </li>
                                            <li class="predefined-filter__item">
                                                <span class="predefined-filter__text">All models Toyota</span>
                                                <el-button
                                                    type="text"
                                                    size="mini">
                                                    <i class="fas fa-times-circle"></i>
                                                </el-button>
                                            </li>
                                            <li class="predefined-filter__item">
                                                <span class="predefined-filter__text">Aygo</span>
                                                <el-button
                                                    type="text"
                                                    size="mini">
                                                    <i class="fas fa-times-circle"></i>
                                                </el-button>
                                            </li>
                                            <li class="predefined-filter__remove">
                                                <el-button
                                                    type="text"
                                                    size="mini">
                                                    Remove all</i>
                                                </el-button>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="predefined-filters__item">
                                        <ul class="predefined-filter">
                                            <li class="predefined-filter__item">
                                                <span class="predefined-filter__text">CIMS</span>
                                                <el-button
                                                    type="text"
                                                    size="mini">
                                                    <i class="fas fa-times-circle"></i>
                                                </el-button>
                                            </li>
                                            <li class="predefined-filter__item">
                                                <span class="predefined-filter__text">Archive</span>
                                                <el-button
                                                    type="text"
                                                    size="mini">
                                                    <i class="fas fa-times-circle"></i>
                                                </el-button>
                                            </li>
                                            <li class="predefined-filter__item">
                                                <span class="predefined-filter__text">All models Toyota</span>
                                                <el-button
                                                    type="text"
                                                    size="mini">
                                                    <i class="fas fa-times-circle"></i>
                                                </el-button>
                                            </li>
                                            <li class="predefined-filter__item">
                                                <span class="predefined-filter__text">Aygo</span>
                                                <el-button
                                                    type="text"
                                                    size="mini">
                                                    <i class="fas fa-times-circle"></i>
                                                </el-button>
                                            </li>
                                            <li class="predefined-filter__remove">
                                                <el-button
                                                    type="text"
                                                    size="mini">
                                                    Remove all</i>
                                                </el-button>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>

                                <p>Saved Resources:</p>
                                <ul class="predefined-filters">
                                    <li class="predefined-filters__item">
                                        <ul class="predefined-filter">
                                            <li class="predefined-filter__item">
                                                <span class="predefined-filter__text">CIMS</span>
                                                <el-button
                                                    type="text"
                                                    size="mini">
                                                    <i class="fas fa-times-circle"></i>
                                                </el-button>
                                            </li>
                                            <li class="predefined-filter__item">
                                                <span class="predefined-filter__text">Archive</span>
                                                <el-button
                                                    type="text"
                                                    size="mini">
                                                    <i class="fas fa-times-circle"></i>
                                                </el-button>
                                            </li>
                                            <li class="predefined-filter__item">
                                                <span class="predefined-filter__text">All models Toyota</span>
                                                <el-button
                                                    type="text"
                                                    size="mini">
                                                    <i class="fas fa-times-circle"></i>
                                                </el-button>
                                            </li>
                                            <li class="predefined-filter__item">
                                                <span class="predefined-filter__text">Aygo</span>
                                                <el-button
                                                    type="text"
                                                    size="mini">
                                                    <i class="fas fa-times-circle"></i>
                                                </el-button>
                                            </li>
                                            <li class="predefined-filter__remove">
                                                <el-button
                                                    type="text"
                                                    size="mini">
                                                    Remove all</i>
                                                </el-button>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="predefined-filters__item">
                                        <ul class="predefined-filter">
                                            <li class="predefined-filter__item">
                                                <span class="predefined-filter__text">CIMS</span>
                                                <el-button
                                                    type="text"
                                                    size="mini">
                                                    <i class="fas fa-times-circle"></i>
                                                </el-button>
                                            </li>
                                            <li class="predefined-filter__item">
                                                <span class="predefined-filter__text">Archive</span>
                                                <el-button
                                                    type="text"
                                                    size="mini">
                                                    <i class="fas fa-times-circle"></i>
                                                </el-button>
                                            </li>
                                            <li class="predefined-filter__item">
                                                <span class="predefined-filter__text">All models Toyota</span>
                                                <el-button
                                                    type="text"
                                                    size="mini">
                                                    <i class="fas fa-times-circle"></i>
                                                </el-button>
                                            </li>
                                            <li class="predefined-filter__item">
                                                <span class="predefined-filter__text">Automative</span>
                                                <el-button
                                                    type="text"
                                                    size="mini">
                                                    <i class="fas fa-times-circle"></i>
                                                </el-button>
                                            </li>
                                            <li class="predefined-filter__remove">
                                                <el-button
                                                    type="text"
                                                    size="mini">
                                                    Remove all</i>
                                                </el-button>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>                    
                        </div>
                </div>
                <button class="cims-btn cims-btn--primary" style="margin: auto; display: block; margin-top: 1rem">Save</button>
            </form>