                <div class="portlet-body">

                    <div class="messages-portlet">
                        <!-- FILTERS-PANEL START -->
                        <div class="filters-panel" id="filtersPanel">
                            <div class="filters-panel__body">
                                <form>
                                    {# FILTER-CATEGORY STARTS #}
                                    <div class="filter-category">
                                        <a class="filter-category__head collapse-icon" aria-controls="textFilterBody"
                                        aria-expanded="true" data-toggle="collapse" href="#textFilterBody" id="textFilter" role="tab">
                                            <span class="filter-category__title">text & period filter</span>
                                            <span class="collapse-icon-closed">
                                                <i class="icon-chevron-down"></i>
                                            </span>
                                            <span class="collapse-icon-open">
                                                <i class="icon-chevron-up"></i>
                                            </span>
                                        </a>
                                        <div class="filter-category__body collapse show" aria-labelledby="textFilter" id="textFilterBody" role="tabpanel">
                                            {# <div class="[ row no-gutters ] filter-category__item">
                                                <div class="col-3">
                                                    <label class="filter-category__label">Text Search</label>
                                                </div>
                                                <div class="col-8">
                                                    <div class="select-container">
                                                        <select class="filter-category__control">
                                                            <option>1</option>
                                                            <option>12</option>
                                                            <option>13</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div> #}
                                            <div class="[ row no-gutters ] filter-category__item">
                                                <div class="col-3">
                                                    <label class="filter-category__label">Posted:</label>
                                                </div>
                                                
                                                <div class="col-8">
                                                    <div class="select-container select-container--icon-right">
                                                        <input type="text" autocomplete="off" class="filter-category__control datepicker-input dropdown-toggle" 
                                                        id="q" data-toggle="dropdown" readonly value="01.01.2019 - 07.01.2019">
                                                        <i class="icon-calendar"></i>
                                                        <div class="dropdown-menu datepicker" aria-labelledby="q">
                                                        <ul class="range">
                                                            <li class="range__item range__item--active">Last 30 days</li>
                                                            <li class="range__item">Last Month</li>
                                                            <li class="range__item">Last Quarter</li>
                                                            <li class="range__item">Last Year</li>
                                                            <li class="range__item">Total</li>
                                                        </ul>
                                                    </div>
                                                    </div>
                                                    
                                                </div>
                                            </div>

                                            <div class="[ row no-gutters ] filter-category__item">
                                                <div class="col-3">
                                                    <label class="filter-category__label">Text Search:</label>
                                                </div>
                                                
                                                <div class="col-8">
                                                    <input type="text" class="filter-category__control" placeholder="Search title or message">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="filter-category">

                                        <a class="filter-category__head collapse-icon" aria-controls="categoryFilterBody"
                                            aria-expanded="true" data-toggle="collapse" href="#categoryFilterBody" id="categoryFilter" role="tab">
                                            <span class="filter-category__title">category filter</span>
                                            <span class="collapse-icon-closed">
                                                <i class="icon-chevron-down"></i>
                                            </span>
                                            <span class="collapse-icon-open">
                                                <i class="icon-chevron-up"></i>
                                            </span>
                                        </a>
                                        
                                        <div class="filter-category__body collapse show" aria-labelledby="categoryFilter" id="categoryFilterBody" role="tabpanel"> 
                                            <div class="filter-category__section">
                                                <div class="[ row no-gutters ]  filter-category__item">
                                                    <div class="col-3">
                                                        <label class="filter-category__label">Category:</label>
                                                    </div>
                                                    
                                                    <div class="col-8">
                                                        <input type="text" class="filter-category__control" placeholder="Search title or message">
                                                        <div aria-labelledby="categoryNameHeading" class="panel-collapse collapse" id="categoryNameBody" role="tabpanel">
                                                            <div id="jsTreeCategory">
                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-1">
                                                        <div class="open-jstree" aria-controls="categoryNameBody" aria-expanded="true"
                                                        class="tree-heading" data-toggle="collapse" href="#categoryNameBody" id="categoryNameHeading" role="tab">
                                                            <i class="icon-folder-close"></i>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="[ row no-gutters ] filter-category__item">         
                                                    <div class="col-8 offset-3">
                                                        <div class="radio-group">
                                                            <div class="custom-radio">
                                                                <input id="radio1" name="radio1" type="radio" checked/>
                                                                <label for="radio1">And</label>
                                                            </div>
                                                            <div class="custom-radio">
                                                                <input id="radio2" name="radio1" type="radio"/>
                                                                <label for="radio2">Or</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="filter-category__item">
                                                    <ul class="category">
                                                        <li class="category__item category__item--unrating">
                                                            <span class="category__delete">&#10006;</span>
                                                            <span class="category__name">China</span>
                                                        </li>
                                                        <li class="category__item category__item--unrating">
                                                            <span class="category__delete">&#10006;</span>
                                                            <span class="category__name">Germany</span>
                                                        </li>
                                                        <li class="category__item category__item--rating">
                                                            <span class="category__delete">&#10006;</span>
                                                            <span class="category__name">Engine Noise</span>
                                                            <div class="category__value">
                                                                <label class="category__indicator category__indicator--positive category__indicator--progress-25" for="searchCategory"></label>
                                                                <input id="searchCategory" type="hidden">
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>

                                                <div class="filter-category__item category-control category-control--minus">
                                                    <a href="#" class="btn-link filter-btn">
                                                        <i class="icon-plus-sign-alt"></i>
                                                        <i class="icon-minus-sign-alt"></i>
                                                        Remove Filter Group 
                                                    </a>
                                                </div>
                                            </div>

                                            <div class="filter-category__section">
                                                <div class="filter-category__item">
                                                    <div class="radio-group radio-group--main">
                                                        <div class="custom-radio">
                                                            <input id="radio3" name="radio2" type="radio" checked/>
                                                            <label for="radio3">And</label>
                                                        </div>
                                                        <div class="custom-radio">
                                                            <input id="radio4" name="radio2" type="radio"/>
                                                            <label for="radio4">Or</label>
                                                        </div>
                                                        <div class="custom-radio">
                                                            <input id="radio5" name="radio2" type="radio"/>
                                                            <label for="radio5">Exclude</label>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="[ row no-gutters ]  filter-category__item">
                                                    <div class="col-3">
                                                        <label class="filter-category__label">Category:</label>
                                                    </div>
                                                    
                                                    <div class="col-8">
                                                        <input type="text" class="filter-category__control" placeholder="Search title or message">
                                                        <div aria-labelledby="categoryNameHeading2" class="panel-collapse collapse" id="categoryNameBody2" role="tabpanel">
                                                            <div id="jsTreeCategory2">
                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-1">
                                                        <div class="open-jstree" aria-controls="categoryNameBody2" aria-expanded="true"
                                                        class="tree-heading" data-toggle="collapse" href="#categoryNameBody2" id="categoryNameHeading2" role="tab">
                                                            <i class="icon-folder-close"></i>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="[ row no-gutters ] filter-category__item">         
                                                    <div class="col-8 offset-3">
                                                        <div class="radio-group">
                                                            <div class="custom-radio">
                                                                <input id="radio11" name="radio4" type="radio" checked/>
                                                                <label for="radio11">And</label>
                                                            </div>
                                                            <div class="custom-radio">
                                                                <input id="radio22" name="radio4" type="radio"/>
                                                                <label for="radio22">Or</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="filter-category__item">
                                                    <ul class="category category">
                                                        <li class="category__item category__item--rating">
                                                            <span class="category__delete">&#10006;</span>
                                                            <span class="category__name">Engine Noise</span>
                                                            <div class="category__value">
                                                                {# <span class="category__indicator category__indicator--positive category__indicator--progress-25"></span> #}
                                                                <label class="category__indicator category__indicator--positive category__indicator--progress-25" for="searchCategory"></label>
                                                                <input id="searchCategory" type="hidden">
                                                            </div>
                                                        </li>
                                                        <li class="category__item category__item--rating">
                                                            <span class="category__delete">&#10006;</span>
                                                            <span class="category__name">Powertrain</span>
                                                            <div class="category__value">
                                                                <a href="#" class="btn-link add-tonality">
                                                                    <i class="icon-plus-sign-alt"></i>
                                                                    Add Tonality
                                                                </a>
                                                            </div>
                                                            <div class="tonality-popup collapse">
                                                                <a href="#close" title="Close" class="close"><i class="icon-remove-sign"></i></a>
                                                                <h4 class="tonality-popup__header"></h4>
                                                                <span>negative</span>
                                                                <div class="tonality-popup__group">
                                                                    <span class="tonality-popup__btn tonality-popup__btn--negative-25">25%</span>
                                                                    <span class="tonality-popup__btn tonality-popup__btn--negative-50">50%</span>
                                                                    <span class="tonality-popup__btn tonality-popup__btn--negative-75">75%</span>
                                                                    <span class="tonality-popup__btn tonality-popup__btn--negative-100">100%</span>
                                                                </div>
                                                                <span>neutral</span>
                                                                <div class="tonality-popup__group">
                                                                    <span class="tonality-popup__btn tonality-popup__btn--neutral-25">25%</span>
                                                                    <span class="tonality-popup__btn tonality-popup__btn--neutral-50">50%</span>
                                                                    <span class="tonality-popup__btn tonality-popup__btn--neutral-75">75%</span>
                                                                    <span class="tonality-popup__btn tonality-popup__btn--neutral-100">100%</span>
                                                                </div>
                                                                <span>positive</span>
                                                                <div class="tonality-popup__group">
                                                                    <span class="tonality-popup__btn tonality-popup__btn--positive-25">25%</span>
                                                                    <span class="tonality-popup__btn tonality-popup__btn--positive-50">50%</span>
                                                                    <span class="tonality-popup__btn tonality-popup__btn--positive-75">75%</span>
                                                                    <span class="tonality-popup__btn tonality-popup__btn--positive-100">100%</span>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="filter-category__item category-control category-control--plus">
                                                    <a href="#" class="btn-link filter-btn">
                                                        <i class="icon-plus-sign-alt"></i>
                                                        <i class="icon-minus-sign-alt"></i>
                                                        Add Filter Group 
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="filter-category">
                                        <a class="filter-category__head collapse-icon" aria-controls="miscellanousFilterBody"
                                        aria-expanded="true" data-toggle="collapse" href="#miscellanousFilterBody" id="miscellanousFilter" role="tab">
                                            <span class="filter-category__title">miscellanous filter</span>
                                            <span class="collapse-icon-closed">
                                                <i class="icon-chevron-down"></i>
                                            </span>
                                            <span class="collapse-icon-open">
                                                <i class="icon-chevron-up"></i>
                                            </span>
                                        </a>

                                        <div class="filter-category__body collapse show" aria-labelledby="miscellanousFilter" id="miscellanousFilterBody" role="tabpanel">

                                            <div class="[ row no-gutters ] filter-category__item">
                                                <div class="col-3">
                                                    <label class="filter-category__label">Source:</label>
                                                </div>
                                                
                                                <div class="col-8">
                                                    <input type="text" class="filter-category__control" placeholder="Search title or message">
                                                </div>
                                            </div>

                                            <div class="[ row no-gutters ] filter-category__item">
                                                <div class="col-3">
                                                    <label class="filter-category__label">Views:</label>
                                                </div>
                                                
                                                <div class="col-8">
                                                    <input type="text" class="filter-category__control" placeholder=">=">
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="btn-container btn-container--center">
                                        <a href="#" class="btn-link" value="reset" id="za">
                                            <i class="icon-trash"></i>
                                            Reset
                                        </a>

                                        <a href="#" class="btn-link btn-link--primary" id="az">
                                            <i class="icon-search"></i>
                                            Submit
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- FILTERS-PANEL ENDS -->


                        <div class="messages">
                            <div class="messages-settings">
                                <div class="messages-settings__translation form-group">
                                    <label class="toggle-switch">
                                        <input class="toggle-switch-check" type="checkbox" checked/>
                                        <span aria-hidden="true" class="toggle-switch-bar">
                                            <span class="toggle-switch-handle" data-label-on="Show Translation" data-label-off="Show Translation"></span>
                                        </span>
                                    </label>
                                </div>
                            </div>

                            <div class="messages-settings">

                                <div class="page-pagination">
                                    <ul class="page-pagination__list">
                                        <li class="page-pagination__item">
                                            <a class="page-pagination__link" href="#1" role="button">
                                                <i class="icon-step-backward" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="page-pagination__item">
                                            <a class="page-pagination__link" href="#1" role="button">
                                                <i class="icon-chevron-left"></i>
                                            </a>
                                        </li>
                                        <li class="active page-pagination__item"><a class="page-pagination__link" href="#1">1</a></li>
                                        <li class="page-pagination__item"><a class="page-pagination__link" href="#1">2</a></li>
                                        <li class="page-pagination__item"><a class="page-pagination__link" href="#1">3</a></li>
                                        <li class="page-pagination__item"><a class="page-pagination__link" href="#1">4423423</a></li>
                                        <li class="page-pagination__item"><a class="page-pagination__link" href="#1">44234</a></li>
                                        <li class="page-pagination__item">
                                            <a class="page-pagination__link" href="#1" role="button">
                                                <i class="icon-chevron-right" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                        <li class="page-pagination__item">
                                            <a class="page-pagination__link" href="#1" role="button">
                                                <i class="icon-step-forward" aria-hidden="true"></i>
                                            </a>
                                        </li>
                                    </ul>
                                    <div class="page-pagination__results">(1-20/114)</div>
                                    <div class="select-container">
                                        <select class="filter-category__control">
                                            <option>10 per page</option>
                                            <option selected>20 per page</option>
                                            <option>30 per page</option>
                                            <option>50 per page</option>
                                            <option>100 per page</option>   
                                        </select>
                                    </div>
                                </div>

                                <div class="select-container">
                                    <select>
                                        <option>Sort by date (descending)</option>
                                        <option>Sort by date (ascending)</option>
                                        <option>Sort by views (descending)</option>
                                        <option>Sort by views (ascending)</option>
                                    </select>
                                </div>
                            </div>

                            <div class="messages-container">
                                <div class="message-item">
                                    <div class="message-item__head">
                                        <div class="message-item__main-content">
                                            <h3 class="message-item__heading">lorem ipsum dolor sit amet</h3>
                                            <p class="message-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                                            <div class="message-item__translation">
                                                <h3 class="message-item__heading">lorem ipsum dolor sit amet</h3>
                                                <p class="message-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                                                <span class="label label-success">
                                                    <span class="label-item label-item-expand">translated</span>
                                                </span>
                                            </div>

                                        </div>

                                        <div class="message-item__logo">
                                            <img class="" src="images/message-logo.jpg" alt="message logo">
                                        </div>
                                        <div class="message-item__rating">
                                            <ul class="category category--unrating">
                                                <li class="category__item">
                                                    <span class="category__name">China</span>
                                                </li>
                                                <li class="category__item">
                                                    <span class="category__name">Germany</span>
                                                </li>
                                            </ul>   
                                            <ul class="category category--rating">
                                                <li class="category__item">
                                                    <span class="category__name">Engine Noise</span>
                                                    <div class="category__value">
                                                        <span class="category__indicator category__indicator--positive category__indicator--progress-25"></span>
                                                    </div>
                                                </li>
                                                <li class="category__item">
                                                    <span class="category__name">Powertrain</span>
                                                    <div class="category__value">
                                                        <span class="category__indicator category__indicator--negative category__indicator--progress-75"></span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="message-item__footer">
                                        <ul class="message-information">
                                            <li class="message-information__item">
                                                <a class="message-information__name message-information__name--url-name" href="#">google.com</a>
                                            </li>
                                            <li class="message-information__item">
                                                <a class="message-information__name message-information__name--url-link" href="#">URL</a>
                                            </li>
                                            <li class="message-information__item">
                                                <span class="message-information__name message-information__name--time">31.05.2018 23:59</span>
                                            </li>
                                            <li class="message-information__item">
                                                <span class="message-information__name message-information__name--views">251</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="message-item">
                                    <div class="message-item__head">
                                        <div class="message-item__main-content">
                                            <h3 class="message-item__heading">lorem ipsum dolor sit amet</h3>
                                            <p class="message-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                                            <div class="message-item__translation">
                                                <h3 class="message-item__heading">lorem ipsum dolor sit amet</h3>
                                                <p class="message-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                                                <span class="label label-success">
                                                    <span class="label-item label-item-expand">translated</span>
                                                </span>
                                            </div>

                                        </div>

                                        <div class="message-item__logo">
                                            <img class="" src="images/message-logo.jpg" alt="message logo">
                                        </div>
                                        <div class="message-item__rating">
                                            <ul class="category category--unrating">
                                                <li class="category__item">
                                                    <span class="category__name">China</span>
                                                </li>
                                                <li class="category__item">
                                                    <span class="category__name">Germany</span>
                                                </li>
                                            </ul>   
                                            <ul class="category category--rating">
                                                <li class="category__item">
                                                    <span class="category__name">Engine Noise</span>
                                                    <div class="category__value">
                                                        <span class="category__indicator category__indicator--positive category__indicator--progress-25"></span>
                                                    </div>
                                                </li>
                                                <li class="category__item">
                                                    <span class="category__name">Powertrain</span>
                                                    <div class="category__value">
                                                        <span class="category__indicator category__indicator--negative category__indicator--progress-75"></span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="message-item__footer">
                                        <ul class="message-information">
                                            <li class="message-information__item">
                                                <a class="message-information__name message-information__name--url-name" href="#">google.com</a>
                                            </li>
                                            <li class="message-information__item">
                                                <a class="message-information__name message-information__name--url-link" href="#">URL</a>
                                            </li>
                                            <li class="message-information__item">
                                                <span class="message-information__name message-information__name--time">31.05.2018 23:59</span>
                                            </li>
                                            <li class="message-information__item">
                                                <span class="message-information__name message-information__name--views">251</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="message-item">
                                    <div class="message-item__head">
                                        <div class="message-item__main-content">
                                            <h3 class="message-item__heading">lorem ipsum dolor sit amet</h3>
                                            <p class="message-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                                            <div class="message-item__translation">
                                                <h3 class="message-item__heading">lorem ipsum dolor sit amet</h3>
                                                <p class="message-item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                                                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipiscing elit, 
                                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                                                <span class="label label-success">
                                                    <span class="label-item label-item-expand">translated</span>
                                                </span>
                                            </div>

                                        </div>

                                        <div class="message-item__logo">
                                            <img class="" src="images/message-logo.jpg" alt="message logo">
                                        </div>
                                        <div class="message-item__rating">
                                            <ul class="category category--unrating">
                                                <li class="category__item">
                                                    <span class="category__name">China</span>
                                                </li>
                                                <li class="category__item">
                                                    <span class="category__name">Germany</span>
                                                </li>
                                            </ul>   
                                            <ul class="category category--rating">
                                                <li class="category__item">
                                                    <span class="category__name">Engine Noise</span>
                                                    <div class="category__value">
                                                        <span class="category__indicator category__indicator--positive category__indicator--progress-25"></span>
                                                    </div>
                                                </li>
                                                <li class="category__item">
                                                    <span class="category__name">Powertrain</span>
                                                    <div class="category__value">
                                                        <span class="category__indicator category__indicator--negative category__indicator--progress-75"></span>
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="message-item__footer">
                                        <ul class="message-information">
                                            <li class="message-information__item">
                                                <a class="message-information__name message-information__name--url-name" href="#">google.com</a>
                                            </li>
                                            <li class="message-information__item">
                                                <a class="message-information__name message-information__name--url-link" href="#">URL</a>
                                            </li>
                                            <li class="message-information__item">
                                                <span class="message-information__name message-information__name--time">31.05.2018 23:59</span>
                                            </li>
                                            <li class="message-information__item">
                                                <span class="message-information__name message-information__name--views">251</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>