                <div class="portlet-body">
                    <div class="">
                        <div class="messages-settings">
                            <div class="messages-settings__item">
                                id:
                                <span>23132123</span>
                            </div>
                            <div class="messages-settings__item">
                                <a href="#" class="link-icon">
                                    <span><i class="icon-plus"></i></i></span>
                                    Save & Close
                                </a>
                            </div>
                            <div class="messages-settings__item">
                                <a href="#" class="link-icon">
                                    <span><i class="icon-chevron-right"></i></span>
                                    Save & Next
                                </a>
                            </div>
                            <div class="messages-settings__item">
                                <a href="#" class="link-icon">
                                    <span><i class="icon-ok"></i></span>
                                    Copy message
                                </a>
                            </div>
                        </div>

                        
                    </div>
                </div>