                    <div class="ressource-editor">
                        <div class="ressource-control">
                            <h2 class="ressource-control__title">Ressources: <span>Socialmedia</span></h2>
                        </div>

                        <div class="ressource-table">
                            <div class="table-tree">
                                {# <div class="table-tree__container">
                                    <div class="table-tree__item">
                                        <div class="table-tree__condition"><span>+</span></div>
                                        <div class="table-tree__name">All ressources</div>
                                        <div class="table-tree__controls">
                                            <button class="table-tree__btn"><span class="add">+</span>Add new</button>
                                            <button class="table-tree__btn"><span><i class="far fa-edit"></i></span>Edit</button>
                                            <button class="table-tree__btn"><span><i class="far fa-trash-alt"></i></span>Delete</button>
                                        </div>
                                    </div>
                                </div>

                                <div class="table-tree__container">
                                    <div class="table-tree__item">
                                        <div class="table-tree__condition"><span>-</span></div>
                                        <div class="table-tree__name">All ressources</div>
                                        <div class="table-tree__controls">
                                            <button class="table-tree__btn"><span class="add">+</span>Add new</button>
                                            <button class="table-tree__btn"><span><i class="far fa-edit"></i></span>Edit</button>
                                            <button class="table-tree__btn"><span><i class="far fa-trash-alt"></i></span>Delete</button>
                                        </div>
                                    </div>
                                    <div class="table-tree__children">
                                        <div class="table-tree__item">
                                            <div class="table-tree__condition"><span>-</span></div>
                                            <div class="table-tree__name">All ressources</div>
                                            <div class="table-tree__controls">
                                                <button class="table-tree__btn"><span class="add">+</span>Add new</button>
                                                <button class="table-tree__btn"><span><i class="far fa-edit"></i></span>Edit</button>
                                                <button class="table-tree__btn"><span><i class="far fa-trash-alt"></i></span>Delete</button>
                                            </div>
                                        </div>
                                        <div class="table-tree__item">
                                            <div class="table-tree__condition"><span>-</span></div>
                                            <div class="table-tree__name">All ressources</div>
                                            <div class="table-tree__controls">
                                                <button class="table-tree__btn"><span class="add">+</span>Add new</button>
                                                <button class="table-tree__btn"><span><i class="far fa-edit"></i></span>Edit</button>
                                                <button class="table-tree__btn"><span><i class="far fa-trash-alt"></i></span>Delete</button>
                                            </div>

                                        </div>
                                    </div>
                                </div> #}


                                {# <div class="table-tree__wrapper">
                                    <div class="table-tree__container">
                                        <div class="table-tree__item">
                                            <div class="table-tree__condition"><span>-</span></div>
                                            <div class="table-tree__name">All ressources</div>
                                            <div class="table-tree__controls">
                                                <button class="table-tree__btn"><span class="add">+</span>Add new</button>
                                                <button class="table-tree__btn"><span><i class="far fa-edit"></i></span>Edit</button>
                                                <button class="table-tree__btn"><span><i class="far fa-trash-alt"></i></span>Delete</button>
                                            </div>
                                        </div>
                                        <div class="table-tree__children">
                                            <div class="table-tree__item">
                                                <div class="table-tree__condition"></div>
                                                <div class="table-tree__name">All ressources</div>
                                                <div class="table-tree__controls">
                                                    <button class="table-tree__btn"><span class="add">+</span>Add new</button>
                                                    <button class="table-tree__btn"><span><i class="far fa-edit"></i></span>Edit</button>
                                                    <button class="table-tree__btn"><span><i class="far fa-trash-alt"></i></span>Delete</button>
                                                </div>
                                            </div>
                                            <div class="table-tree__item">
                                                <div class="table-tree__condition"><span>-</span></div>
                                                <div class="table-tree__name">All ressources</div>
                                                <div class="table-tree__controls">
                                                    <button class="table-tree__btn"><span class="add">+</span>Add new</button>
                                                    <button class="table-tree__btn"><span><i class="far fa-edit"></i></span>Edit</button>
                                                    <button class="table-tree__btn"><span><i class="far fa-trash-alt"></i></span>Delete</button>
                                                </div>
                                            </div>
                                            

                                            
                                            <div class="table-tree__container">
                                                <div class="table-tree__item">
                                                    <div class="table-tree__condition"><span>-</span></div>
                                                    <div class="table-tree__name">All ressources</div>
                                                    <div class="table-tree__controls">
                                                        <button class="table-tree__btn"><span class="add">+</span>Add new</button>
                                                        <button class="table-tree__btn"><span><i class="far fa-edit"></i></span>Edit</button>
                                                        <button class="table-tree__btn"><span><i class="far fa-trash-alt"></i></span>Delete</button>
                                                    </div>
                                                </div>
                                                <div class="table-tree__children">
                                                    <div class="table-tree__item">
                                                        <div class="table-tree__condition"><span>+</span></div>
                                                        <div class="table-tree__name">All ressources</div>
                                                        <div class="table-tree__controls">
                                                            <button class="table-tree__btn"><span class="add">+</span>Add new</button>
                                                            <button class="table-tree__btn"><span><i class="far fa-edit"></i></span>Edit</button>
                                                            <button class="table-tree__btn"><span><i class="far fa-trash-alt"></i></span>Delete</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            
                                        </div>
                                    </div>
                                </div> #}



                                <div class="table-tree__wrapper">
                                    <div class="table-tree__container">
                                        <div class="table-tree__item have-children">
                                            <div class="table-tree__condition">
                                                <span class="collapse-icon">-</span>
                                                <span class="show-icon">+</span>
                                            </div>
                                            <div class="table-tree__name">All ressources</div>
                                            <div class="table-tree__controls">
                                                <button class="table-tree__btn"><span class="add">+</span>Add new</button>
                                                <button class="table-tree__btn"><span><i class="far fa-edit"></i></span>Edit</button>
                                                <button class="table-tree__btn"><span><i class="far fa-trash-alt"></i></span>Delete</button>
                                            </div>
                                        </div>

                                        <div class="table-tree__children">
                                            <div class="table-tree__container">
                                                <div class="table-tree__item have-children">
                                                    <div class="table-tree__condition">
                                                        <span class="collapse-icon">-</span>
                                                        <span class="show-icon">+</span>
                                                    </div>
                                                    <div class="table-tree__name">All ressources</div>
                                                    <div class="table-tree__controls">
                                                        <button class="table-tree__btn"><span class="add">+</span>Add new</button>
                                                        <button class="table-tree__btn"><span><i class="far fa-edit"></i></span>Edit</button>
                                                        <button class="table-tree__btn"><span><i class="far fa-trash-alt"></i></span>Delete</button>
                                                    </div>
                                                </div>

                                                <div class="table-tree__children">
                                                    <div class="table-tree__container">
                                                        <div class="table-tree__item">
                                                            <div class="table-tree__condition">
                                                                <span class="collapse-icon">-</span>
                                                                <span class="show-icon">+</span>
                                                            </div>
                                                            <div class="table-tree__name">All ressources</div>
                                                            <div class="table-tree__controls">
                                                                <button class="table-tree__btn"><span class="add">+</span>Add new</button>
                                                                <button class="table-tree__btn"><span><i class="far fa-edit"></i></span>Edit</button>
                                                                <button class="table-tree__btn"><span><i class="far fa-trash-alt"></i></span>Delete</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="table-tree__container">
                                                        <div class="table-tree__item">
                                                            <div class="table-tree__condition">
                                                                <span class="collapse-icon">-</span>
                                                                <span class="show-icon">+</span>
                                                            </div>
                                                            <div class="table-tree__name">All ressources</div>
                                                            <div class="table-tree__controls">
                                                                <button class="table-tree__btn"><span class="add">+</span>Add new</button>
                                                                <button class="table-tree__btn"><span><i class="far fa-edit"></i></span>Edit</button>
                                                                <button class="table-tree__btn"><span><i class="far fa-trash-alt"></i></span>Delete</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="table-tree__container">
                                                        <div class="table-tree__item">
                                                            <div class="table-tree__condition">
                                                                <span class="collapse-icon">-</span>
                                                                <span class="show-icon">+</span>
                                                            </div>
                                                            <div class="table-tree__name">All ressources</div>
                                                            <div class="table-tree__controls">
                                                                <button class="table-tree__btn"><span class="add">+</span>Add new</button>
                                                                <button class="table-tree__btn"><span><i class="far fa-edit"></i></span>Edit</button>
                                                                <button class="table-tree__btn"><span><i class="far fa-trash-alt"></i></span>Delete</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="table-tree__container">
                                                <div class="table-tree__item">
                                                    <div class="table-tree__condition">
                                                        <span class="collapse-icon">-</span>
                                                        <span class="show-icon">+</span>
                                                    </div>
                                                    <div class="table-tree__name">All ressources</div>
                                                    <div class="table-tree__controls">
                                                        <button class="table-tree__btn"><span class="add">+</span>Add new</button>
                                                        <button class="table-tree__btn"><span><i class="far fa-edit"></i></span>Edit</button>
                                                        <button class="table-tree__btn"><span><i class="far fa-trash-alt"></i></span>Delete</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="table-tree__container">
                                                <div class="table-tree__item have-children">
                                                    <div class="table-tree__condition">
                                                        <span class="collapse-icon">-</span>
                                                        <span class="show-icon">+</span>
                                                    </div>
                                                    <div class="table-tree__name">All ressources</div>
                                                    <div class="table-tree__controls">
                                                        <button class="table-tree__btn"><span class="add">+</span>Add new</button>
                                                        <button class="table-tree__btn"><span><i class="far fa-edit"></i></span>Edit</button>
                                                        <button class="table-tree__btn"><span><i class="far fa-trash-alt"></i></span>Delete</button>
                                                    </div>
                                                </div>

                                                <div class="table-tree__children">
                                                    <div class="table-tree__container">
                                                        <div class="table-tree__item">
                                                            <div class="table-tree__condition">
                                                                <span class="collapse-icon">-</span>
                                                                <span class="show-icon">+</span>
                                                            </div>
                                                            <div class="table-tree__name">All ressources</div>
                                                            <div class="table-tree__controls">
                                                                <button class="table-tree__btn"><span class="add">+</span>Add new</button>
                                                                <button class="table-tree__btn"><span><i class="far fa-edit"></i></span>Edit</button>
                                                                <button class="table-tree__btn"><span><i class="far fa-trash-alt"></i></span>Delete</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="table-tree__container">
                                                        <div class="table-tree__item">
                                                            <div class="table-tree__condition">
                                                                <span class="collapse-icon">-</span>
                                                                <span class="show-icon">+</span>
                                                            </div>
                                                            <div class="table-tree__name">All ressources</div>
                                                            <div class="table-tree__controls">
                                                                <button class="table-tree__btn"><span class="add">+</span>Add new</button>
                                                                <button class="table-tree__btn"><span><i class="far fa-edit"></i></span>Edit</button>
                                                                <button class="table-tree__btn"><span><i class="far fa-trash-alt"></i></span>Delete</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="table-tree__container">
                                                        <div class="table-tree__item">
                                                            <div class="table-tree__condition">
                                                                <span class="collapse-icon">-</span>
                                                                <span class="show-icon">+</span>
                                                            </div>
                                                            <div class="table-tree__name">All ressources</div>
                                                            <div class="table-tree__controls">
                                                                <button class="table-tree__btn"><span class="add">+</span>Add new</button>
                                                                <button class="table-tree__btn"><span><i class="far fa-edit"></i></span>Edit</button>
                                                                <button class="table-tree__btn"><span><i class="far fa-trash-alt"></i></span>Delete</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>