                <div class="translation">
                    <div class="translation__container">
                        <h2>Translation</h2>
                        <div class="translation__item">
                            <span>Translate language</span>
                            <div class="el-select"><!----><div class="el-input el-input--suffix"><!----><input type="text" readonly="readonly" autocomplete="off" placeholder="Select" class="el-input__inner"><!----><span class="el-input__suffix"><span class="el-input__suffix-inner"><i class="el-select__caret el-input__icon el-icon-arrow-up"></i><!----><!----><!----><!----></span><!----></span><!----></div></div>
                        </div>
                        <div class="translation__item">
                            <span>Static text</span>
                            <div role="switch" class="el-switch is-checked" aria-checked="true"><input type="checkbox" name="" true-value="true" class="el-switch__input"><!----><span class="el-switch__core" style="width: 40px;"></span><!----></div>
                            <span>Text for Cat/Res</span>
                        </div>
                        <button class="cims-btn cims-btn--primary">Save</button>
                    </div>
                    


                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Text_Key</th>
                                <th>English</th>
                                <th>Translate language</th>
                                <th>Key Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><input type="text"></td>
                                <td><input type="text"></td>
                                <td><input type="text"></td>
                                <td><input type="text"></td>
                                <td><i class="fas fa-trash-alt"></i></td>
                            </tr>
                            <tr>
                                <td>2018-07-10 14:06:55</td>
                                <td>Vitor Bassi</td>
                                <td>Message update</td>
                                <td>Message update</td>
                                <td><i class="fas fa-trash-alt"></i></td>
                            </tr>
                            <tr>
                                <td>2018-07-10 14:08:58</td>
                                <td>Vitor Bassi</td>
                                <td>Message update</td>
                                <td>Sed ut perspiciatis, unde omnis iste</td>
                                <td><i class="fas fa-trash-alt"></i></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>New user</td>
                                <td>
                                    <div class="select-container">
                                        <select class="cims-select">
                                            <option>Open</option>
                                            <option>In Progress</option>
                                            <option>Resolved</option>
                                            <option>Reopened</option>
                                            <option>Closed</option>
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <input type="text" class="cims-input">
                                    <button class="cims-btn cims-btn--primary">Save</button>
                                </td>
                                <td><i class="fas fa-trash-alt"></i></td>
                            </tr>
                        </tbody>
                    </table>


                </div>